<!DOCTYPE html>
{% load materializecss %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Blog Form</title>
</head>
<body>
            <form  enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{  form | materializecss }}
                    <input type="submit" value="Create Blog" class="btn btn-default">
                </form>

</body>
<script>
 $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>
</html>
