{% load static %}
{% if user_profile.education.count == 0 %}
                {% if user.username == user_profile.user.username%}

        <li style="background-color: transparent; font-size: 24px" class="card" id="no-education">
              <div class="card-body">
                    Click on + to add an education
              </div>
        </li>
        {% endif %}
{% endif %}

{% for education in user_profile.education.all %}
    <div class="card mb-3 marg-20 edu-card" id="education-{{ education.pk }}" style="max-width: 440px;">
        <div class="row no-gutters">
{#            <div class="col-md-4">#}
{#                <img src="{{ education.image }}" class="card-img" alt="edu-logo">#}
{#            </div>#}
            <div class="col-md-12">

                {% if user.username == user_profile.user.username%}
                    <div class="dropdown ">
                        <button type="button" class="option-button" id="uni-Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="uni-Button">
                            <button class="dropdown-item"  data-toggle="modal" data-target="#edit_education_card_{{ education.pk }}">Edit</button>

                            <form method="post" id="remove-education-{{ education.pk }}" class="delete-object-form">
                                {% csrf_token %}
                                {{ deleteEducationForm.as_p }}
                                <button type="submit" class="dropdown-item">Remove</button>
                            </form>

                        </div>
                    </div>

                    <div class="modal fade" id="edit_education_card_{{ education.pk }}" tabindex="-1" aria-labelledby="edit_cardLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="edit_education_cardLabel_{{ education.pk }}">Edit Education card</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                   <form method="post" id="edit-education-{{ education.pk }}-form" class="edit-object-form">
                                            {% csrf_token %}
                                            {{ educationForm.as_p }}
                                       <button type="submit"> Edit </button>
                                   </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="card-body">
                    <h5 id="major" class="card-title" id="education-{{ education.pk }}-certification_name"> {{ education.certification_name }}</h5>
                    {% if education.institution != None %}
                        <h6 id="uniname" class="card-text" id="education-{{ education.pk }}-institution">Institution: {{ education.institution }}</h6>
                    {% endif %}
                    {% if education.description != None %}
                        <h6 id="edu-descrption" class="card-text" id="education-{{ education.pk }}-description">Description: {{ education.description }}</h6>
                    {% endif %}
                    <p id="year" class="card-text"><small class="text-muted" id="education-{{ education.pk }}-date">Date: {{ education.month }}/{{ education.year }}</small></p>
                </div>

            </div>
        </div>

    </div>
{% endfor %}
