{% load static %}
{% if user_profile.template_number == 0 %}
    {% if experience.section.count == 0 %}
        {% if user.username == user_profile.user.username %}
            <li style="background-color: transparent; font-size: 24px" class="card" id="no-section">
                <div class="card-body" style="font-weight: lighter; text-align: center">
                    Click on + to add a type of Experience
                </div>
            </li>
        {% endif %}
    {% endif %}
    {% for section in experience.section.all %}
        <div class="sub-section" id="sub-section-{{ section.pk }}">
            <div class="sub-section-header">
                <div class="sub-section-heading">
                    <h2 class="sub-section-heading-text" id="sub-section-{{ section.pk }}-name">
                        {{ section.name }}
                    </h2>
                </div>
                {% if user.username == user_profile.user.username %}
                    <button type="button" data-toggle="modal" data-target="#add-experience-specific-{{ section.pk }}"
                            class="sub-section-button" style="font-size: 20px; color: #8a082c"><i
                            class="fas fa-plus"></i></button>
                    <button type="button" style="margin: 0; padding: 10px" class="option-button " id="uni-Button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="uni-Button">
                        <button class="dropdown-item" style="color: black" data-toggle="modal"
                                data-target="#edit_section_card_{{ section.pk }}">Edit
                        </button>
                        <form method="post" id="remove-section-{{ section.pk }}-form" class="delete-object-form">
                            {% csrf_token %}
                            {{ deleteSectionForm }}
                            <button type="submit" class="dropdown-item" style="color: black">Remove</button>
                        </form>
                    </div>
                    <div class="modal fade" id="edit_section_card_{{ section.pk }}" tabindex="-1"
                         aria-labelledby="edit_cardLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edit_section_cardLabel_{{ section.pk }}">Edit
                                        Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="edit-section-{{ section.pk }}-form"
                                          class="edit-object-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ sectionForm }}
                                        </div>
                                        <button type="submit" class="btn btn-primary"> Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
            <div class="modal fade" id="add-experience-specific-{{ section.pk }}" tabindex="-1"
                 aria-labelledby="add-experience-specificLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-experience-specificLabel">Add an {{ section.name }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form method="post" id="specific-form-{{ section.pk }}" class="specific-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="id_position" class="col-sm-2 col-form-label">Position: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.position }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Company: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.company }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_company" class="col-form-label">Description: </label>
                                    {{ specificForm.description }}
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Link: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.link }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary specific-form-submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section-container" id="sub-section-container">
                <ul class="list-unstyled" id="sub-section-list-{{ section.pk }}">
                    {% if section.specific.count == 0 %}
                        <li style="background-color: transparent; border: none" class="card" id="no-specific">
                            <div class="card-body" style="padding: 0 0 0 0.6rem">
                                Click on + to add {{ section.name }}
                            </div>
                        </li>
                    {% endif %}
                    {% for specific in section.specific.all %}
                        <li class="media" style="margin: 10px 10px 18px 10px;" id="specific-{{ specific.pk }}">
                            {# <img src="{% static 'collegehub/images/blue_marble.jpg' %}" class="mr-3 edu-card-img" alt="..." #}
                            {# width="150" height="100"> #}
                            <div class="media-body">
                                {% if user.username == user_profile.user.username %}
                                    <div style="display: flex;" class="edit_mode">
                                        <h4 class=" mt-0 mb-1 "
                                            id="specific-{{ specific.pk }}-position" data-toggle="modal"
                                            data-target="#edit_specific_card_{{ specific.pk }}" type="button">
                                            {{ specific.position }}
                                        </h4>
                                        <form method="post" id="remove-specific-{{ specific.pk }}-form"
                                              class="delete-object-form">
                                            {% csrf_token %}
                                            {{ deleteSpecificForm }}
                                            <button type="submit" class="remove_exp_card" style=""><i
                                                    class="far fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                {% else %}
                                    <h4 class=" mt-0 mb-1 "
                                        id="specific-{{ specific.pk }}-position">
                                        {{ specific.position }}
                                    </h4>
                                {% endif %}
                                {% if specific.company != None %}
                                    <h5 class="mt-0 mb-1" style="color: #9cae00"
                                        id="specific-{{ specific.pk }}-company">
                                        {{ specific.company }}</h5>
                                {% endif %}
                                <p style="margin:10px 0 10px 0; font-weight: lighter;"
                                   id="specific-{{ specific.pk }}-description">
                                    {{ specific.description }}
                                </p>
                                {% if specific.link != '' %}
                                    <a href="{{ specific.link }}" class="btn btn-outline-danger"
                                       style="border-radius: 4rem"
                                       id="specific-{{ specific.pk }}-link"><i
                                            class="fas fa-external-link-square-alt" aria-hidden="true"> </i> Link</a>
                                {% endif %}
                            </div>
                            <div class="modal fade" id="edit_specific_card_{{ specific.pk }}" tabindex="-1"
                                 aria-labelledby="edit_cardLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit_specific_cardLabel_{{ specific.pk }}">Edit
                                                Skill</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form method="post" id="edit-specific-{{ specific.pk }}-form"
                                                  class="edit-object-form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ specificForm }}
                                                </div>
                                                <button type="submit" class="btn btn-primary"> Edit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endfor %}
{% endif %}

{% if user_profile.template_number == 1 %}
    {% if experience.section.count == 0 %}
        {% if user.username == user_profile.user.username %}
            <li style="background-color: transparent; font-size: 24px" class="card" id="no-section">
                <div class="card-body" style="font-weight: lighter; text-align: center">
                    Click on + to add a type of Experience
                </div>
            </li>
        {% endif %}
    {% endif %}

    {% for section in experience.section.all %}
        <div class="sub-section" id="sub-section-{{ section.pk }}">
            <div class="sub-section-header">
                <div class="sub-section-heading">
                    <h2 class="sub-section-heading-text" id="sub-section-{{ section.pk }}-name">
                        {{ section.name }}
                    </h2>
                </div>
                {% if user.username == user_profile.user.username and user.is_authenticated %}
                    <button type="button" data-toggle="modal" data-target="#add-experience-specific-{{ section.pk }}"
                            class="sub-section-button" style="font-size: 20px; color: #ff9090"><i
                            class="fas fa-plus"></i>
                    </button>
                    <button type="button" style="margin: 0; padding: 10px" class="option-button " id="uni-Button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="uni-Button">
                        <button class="dropdown-item" style="color: black" data-toggle="modal"
                                data-target="#edit_section_card_{{ section.pk }}">Edit
                        </button>
                        <form method="post" id="remove-section-{{ section.pk }}-form" class="delete-object-form">
                            {% csrf_token %}
                            {{ deleteSectionForm }}
                            <button type="submit" class="dropdown-item" style="color: black">Remove
                            </button>
                        </form>
                    </div>
                    <div class="modal fade" id="edit_section_card_{{ section.pk }}" tabindex="-1"
                         aria-labelledby="edit_cardLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edit_section_cardLabel_{{ section.pk }}">Edit
                                        Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="edit-section-{{ section.pk }}-form"
                                          class="edit-object-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ sectionForm }}
                                        </div>
                                        <button type="submit" class="btn btn-primary"> Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="add-experience-specific-{{ section.pk }}" tabindex="-1"
                         aria-labelledby="add-experience-specificLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="add-experience-specificLabel">Add
                                        an {{ section.name }} </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form method="post" id="specific-form-{{ section.pk }}" class="specific-form">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="id_position" class="col-sm-2 col-form-label">Position: </label>
                                            <div class="col-sm-10">
                                                {{ specificForm.position }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_company" class="col-sm-2 col-form-label">Company: </label>
                                            <div class="col-sm-10">
                                                {{ specificForm.company }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_company" class="col-form-label">Description: </label>
                                            {{ specificForm.description }}
                                        </div>
{#                                        <div class="form-group row">#}
{#                                            <label for="id_company" class="col-sm-2 col-form-label">Link: </label>#}
{#                                            <div class="col-sm-10">#}
{#                                                {{ specificForm.link }}#}
{#                                            </div>#}
{#                                        </div>#}
                                        <button type="submit" class="btn btn-primary specific-form-submit">
                                            Add
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <ul class="list-unstyled" id="sub-section-list-{{ section.pk }}">
                {% for specific in section.specific.all %}
                    <li class="media exp-card" id="specific-{{specific.pk}}">
                        <div class="media-body">
                            {% if user.username == user_profile.user.username %}
                                <div style="display: flex;" class="edit_mode">
                                    <h4 class=" mt-0 mb-1 "
                                        id="specific-{{ specific.pk }}-position" data-toggle="modal"
                                        data-target="#edit_specific_card_{{ specific.pk }}" type="button">
                                        {{ specific.position }}
                                    </h4>
                                    <form method="post" id="remove-specific-{{ specific.pk }}-form"
                                          class="delete-object-form">
                                        {% csrf_token %}
                                        {{ deleteSpecificForm }}
                                        <button type="submit" class="remove_exp_card" style=""><i
                                                class="far fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            {% else %}
                                <h4 class=" mt-0 mb-1 "
                                    id="specific-{{ specific.pk }}-position">
                                    {{ specific.position }}
                                </h4>
                            {% endif %}
                            <h5 class="mt-0 mb-1" style="color: #e58383" id="specific-{{ specific.pk }}-company"> {{ specific.company }}</h5>
                            <p id="specific-{{ specific.pk }}-description">
                                {{ specific.description }}
                            </p>
                        </div>
                        <div class="modal fade" id="edit_specific_card_{{ specific.pk }}" tabindex="-1"
                             aria-labelledby="edit_cardLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="edit_specific_cardLabel_{{ specific.pk }}">Edit
                                            Specific</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form method="post" id="edit-specific-{{ specific.pk }}-form"
                                              class="edit-object-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                             <label for="id_position">Position:</label>
                                                <input type="text" name="position" maxlength="50" required="" id="id_position">
                                                <label for="id_company">Company:</label>
                                                <input type="text" name="company" maxlength="50" id="id_company">
                                                <label for="id_description">Description:</label>
                                                <input type="text" name="description" value="This is what I did" maxlength="2000" required="" id="id_description">
                                            </div>
                                            <button type="submit" class="btn btn-primary"> Edit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}

{% if user_profile.template_number == 2 %}
    {% if user_profile.education.count == 0 %}
        {% if user.username == user_profile.user.username %}
            <div style="color: lightgrey;background-color: transparent;border-color: #7a7a7a; font-size: 24px"
                 class="card" id="no-education">
                <div class="card-body" style="font-weight: lighter; text-align: center;">
                    Click on + to add a type of Experience
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% for section in experience.section.all %}
        <div class="sub-section" id="sub-section-{{ section.pk }}">
            <div class="sub_section_heading_container">
                <div class="sub-section_heading" id="sub-section-{{ section.pk }}-name">
                    {{ section.name }}
                </div>
                {% if user.username == user_profile.user.username and user.is_authenticated %}
                    <div class="sub-section_heading_buttons">
                        <div style="-webkit-appearance: none;" type="button" data-toggle="modal"
                             data-target="#add-experience-specific-{{ section.pk }}" class="sub-section-button"
                             style="font-size: 20px;"><i class="fas fa-plus"></i></div>
                        <div style="-webkit-appearance: none;" type="button" style="margin-top: 0" class="option-button " id="uni-Button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="uni-Button">
                            <button class="dropdown-item" style="color: black" data-toggle="modal"
                                    data-target="#edit_section_card_{{ section.pk }}">Edit
                            </button>
                            <form method="post" id="remove-section-{{ section.pk }}-form" class="delete-object-form">
                                {% csrf_token %}
                                {{ deleteSectionForm }}
                                <button type="submit" class="dropdown-item" style="color: black">Remove</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal fade" id="add-experience-specific-{{ section.pk }}" tabindex="-1"
                 aria-labelledby="add-experience-specificLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-experience-specificLabel">Add an {{ section.name }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form method="post" id="specific-form-{{ section.pk }}" class="specific-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="id_position" class="col-sm-2 col-form-label">Position: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.position }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Company: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.company }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_company" class="col-form-label">Description: </label>
                                    {{ specificForm.description }}
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Link: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.link }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary specific-form-submit">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edit_section_card_{{ section.pk }}" tabindex="-1"
                 aria-labelledby="edit_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit_section_cardLabel_{{ section.pk }}">Edit
                                experience</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="edit-section-{{ section.pk }}-form" class="edit-object-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ sectionForm }}
                                </div>
                                <button type="submit" class="btn btn-primary"> Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section-container" id="sub-section-container-{{ section.pk }}">
                {% for specific in section.specific.all %}
                    <div class="card " id="specific-{{ specific.pk }}"
                         style="color: white;width: 38vw; margin-top:20px;background-color: transparent; border: none">
                        <div class="card-body" style="padding: 0">
                            {% if user.username == user_profile.user.username and user.is_authenticated %}
                                <div style="display: flex;" class="edit_mode">
                                    <h5 type="button" class="card-title" id="specific-{{ specific.pk }}-position"
                                        data-toggle="modal"
                                        data-target="#edit_specific_card_{{ specific.pk }}"
                                        style="color: white; font-weight: bold">{{ specific.position }}
                                    </h5>
                                    <form method="post" id="remove-specific-{{ specific.pk }}-form"
                                          class="delete-object-form" style="padding-bottom : 10px;">
                                        {% csrf_token %}
                                        {{ deleteSpecificForm }}
                                        <button type="submit" class="remove_exp_card"><i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            {% else %}
                                <h5 class="card-title" style="color: white; font-weight: bold"
                                    id="specific-{{ specific.pk }}-position">
                                    {{ specific.position }}</h5>
                            {% endif %}
                            {% if specific.company != None %}
                                <h6 id="specific-{{ specific.pk }}-company" class="card-subtitle mb-2"
                                    style="color: #68d3c5;">{{ specific.company }}</h6>
                            {% endif %}
                            <p id="specific-{{ specific.pk }}-description" class="card-text"
                               style="font-weight: lighter">{{ specific.description }}</p>
                            {% if specific.link != '' %}
                                <a id="specific-{{ specific.pk }}-link" href="{{ specific.link }}"
                                   class="mylink">Link</a>
                            {% endif %}
                            <div style="color: black" class="modal fade" id="edit_specific_card_{{ specific.pk }}"
                                 tabindex="-1"
                                 aria-labelledby="edit_cardLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit_specific_cardLabel_{{ specific.pk }}">
                                                Edit {{ specific.position }}</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form method="post" id="edit-specific-{{ specific.pk }}-form"
                                                  class="edit-object-form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ specificForm }}
                                                </div>
                                                <button type="submit" class="btn btn-primary"> Edit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if user_profile.template_number == 3 %}
    {% if experience.section.count == 0 %}
        {% if user.username == user_profile.user.username %}
            <li style="background-color: transparent; font-size: 24px" class="card" id="no-section">
                <div class="card-body" style="font-weight: lighter; text-align: center">
                    Click on + to add a type of Experience
                </div>
            </li>
        {% endif %}
    {% endif %}

    {% for section in experience.section.all %}
        <div class="sub-section" id="sub-section-{{ section.pk }}">
            <div class="sub-section-header">
                {% if user.username == user_profile.user.username %}
                    <div class="sub-section-heading">
                        <button type="button" data-toggle="modal"
                                data-target="#add-experience-specific-{{ section.pk }}"
                                class="option-button"
                                style="font-size: 20px;">
                            <i class="fas fa-plus"></i></button>
                        <h2 class="sub-section-heading-text"
                            id="sub-section-{{ section.pk }}-name">
                            {{ section.name }}
                        </h2>
                        <button type="button" style="margin: 0; padding: 10px"
                                class="option-button " id="uni-Button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="uni-Button">
                            <button class="dropdown-item" style="color: black"
                                    data-toggle="modal"
                                    data-target="#edit_section_card_{{ section.pk }}">Edit
                            </button>
                            <form method="post" id="remove-section-{{ section.pk }}-form"
                                  class="delete-object-form">
                                {% csrf_token %}
                                {{ deleteSectionForm }}
                                <button type="submit" class="dropdown-item"
                                        style="color: black">
                                    Remove
                                </button>
                            </form>
                        </div>
                        <div class="modal fade" id="edit_section_card_{{ section.pk }}"
                             tabindex="-1"
                             aria-labelledby="edit_cardLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="edit_section_cardLabel_{{ section.pk }}">Edit
                                            Experience Section</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post"
                                              id="edit-section-{{ section.pk }}-form"
                                              class="edit-object-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{ sectionForm }}
                                            </div>
                                            <button type="submit" class="btn btn-primary"> Edit
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="sub-section-heading">
                        <h2 class="sub-section-heading-text"
                            id="sub-section-{{ section.pk }}-name">
                            {{ section.name }}
                        </h2>
                    </div>
                {% endif %}
            </div>
            <div class="modal fade" id="add-experience-specific-{{ section.pk }}" tabindex="-1"
                 aria-labelledby="add-experience-specificLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-experience-specificLabel">Add
                                an {{ section.name }} </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form method="post" id="specific-form-{{ section.pk }}"
                                  class="specific-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="id_position" class="col-sm-2 col-form-label">Position: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.position }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Company: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.company }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_company"
                                           class="col-form-label">Description: </label>
                                    {{ specificForm.description }}
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Link: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.link }}
                                    </div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary specific-form-submit">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section-container" id="sub-section-container-{{ section.pk }}">
                {% for specific in section.specific.all %}
                    <div class="exp-card" id="specific-{{ specific.pk }}">
                        <div class="exp_title">
                            <div class="exp_company" id="specific-{{ specific.pk }}-company">{{ specific.company }}</div>
                            <div class="exp_position" id="specific-{{ specific.pk }}-position">{{ specific.position }}</div>
{#                            <div class="exp_date">Sep . 2020</div>#}
                        </div>
                        {% if user.username == user_profile.user.username %}
                            <div class="dropdown " style="width: 5%">
                                <button type="button" class="option-button" id="uni-Button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="uni-Button">
                                    <button class="dropdown-item" style="color: black"
                                            data-toggle="modal"
                                            data-target="#edit_specific_card_{{ specific.pk }}">
                                        Edit
                                    </button>
                                    <form method="post" id="remove-specific-{{ specific.pk }}-form"
                                          class="delete-object-form">
                                        {% csrf_token %}
                                        {{ deleteSpecificForm }}
                                        <button type="submit" class="dropdown-item"
                                                style="color: black">
                                            Remove
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <span>
                                <div class="modal fade"
                                     id="edit_specific_card_{{ specific.pk }}"
                                     tabindex="-1"
                                     aria-labelledby="edit_cardLabel"
                                     aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit_specific_cardLabel_{{ specific.pk }}">Edit
                                                Skill</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form method="post" id="edit-specific-{{ specific.pk }}-form"
                                                  class="edit-object-form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ specificForm }}
                                                </div>
                                                <button type="submit" class="btn btn-primary"> Edit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                </span>
                        {% endif %}
                        <div class="exp-description" id="specific-{{ specific.pk }}-description">
                            {{ specific.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}