{% if experience.section.count == 0 %}
        <li style="background-color: transparent; font-size: 24px" class="card" id="no-section">
              <div class="card-body">
                    Click on + to add a section
              </div>
        </li>
    {% endif %}
{% for section in experience.section.all %}
        <div class="sub-section">
            <div class="sub-section-header">
                 <div class="sub-section-heading">
                    <h4 class="sub-section-heading-text" >
                        {{ section.name }}
                    </h4>
                </div>
                <button type="button" data-toggle="modal" data-target="#add-experience-specific-{{ section.pk }}" class="sub-section-button"><i class="fas fa-plus"></i></button>
            </div>
            <div class="modal fade" id="add-experience-specific-{{ section.pk }}" tabindex="-1" aria-labelledby="add-experience-specificLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-experience-specificLabel">Add an {{ section.name }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form method="post" id="specific-form-{{ section.pk }}"  class="specific-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="id_position" class="col-sm-2 col-form-label">Position: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.position }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Company: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.company }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_company" class="col-form-label">Description: </label>
                                    {{ specificForm.description }}
                                </div>
{#                                <div class="form-group row">#}
{#                                    <label for="id_company" class="col-sm-2 col-form-label">Section: </label>#}
{#                                    <div class="col-sm-10">#}
{#                                        {{ specificForm.section }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group row">#}
{#                                    <label for="id_company" class="col-sm-2 col-form-label">Icon/Image: </label>#}
{#                                    <div class="col-sm-10">#}
{#                                        {{ specificForm.image }}#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="form-group row">
                                    <label for="id_company" class="col-sm-2 col-form-label">Link: </label>
                                    <div class="col-sm-10">
                                        {{ specificForm.link }}
                                    </div>
                                </div>
                              <button type="submit" class="btn btn-primary specific-form-submit">Add</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section-container" id="sub-section-container">
                <ul class="list-unstyled" id="sub-section-list-{{ section.pk }}">
                    {% if section.specific.count == 0 %}
                            <li style="background-color: transparent" class="card" id="no-specific">
                              <div class="card-body">
                                Click on + to add a(n) {{ section.name }}
                              </div>
                            </li>
                        {% endif %}
                     {% for specific in section.specific.all %}

                            <li class="media" style="margin: 10px 10px 18px 10px">
{#                                <img src="{{ specific.image.url }}" class="mr-3" alt="..." width="250" height="200">#}
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"> {{specific.position}} </h5>
                                    {% if specific.company != None %}
                                        <h7 class="mt-0 mb-1">{{specific.company}}</h7>
                                    {% endif %}
                                    <p style="margin-bottom: 3px">
                                        {{ specific.description }}
                                    </p>
                                    {% if specific.link != '' %}
                                        <a href="{{ specific.link }}" class="btn btn-outline-danger">Link</a>
                                    {% endif %}
                                </div>
                            </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

{% endfor %}