{% for section in experience.section.all %}
    {% if sections.count == 0 %}
        <h1>No Sections</h1>
    {% else %}
        <h1 style="width: 100%">{{ section.name }}</h1>
        {% for specific in section.specific.all %}
            {% if specific.count == 0 %}
                <h1>No Specific</h1>
            {% else %}

                <div class="card" style="width: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ specific.title }}</h5>
                        <p class="card-text">{{ specific.description }}</p>
                        <a href="{{ specific.link }}" class="btn btn-primary">Links</a>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}