{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style.css'%}">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!--logo icon / favicon-->
    <link rel="icon" href="{% static 'collegehub/images/CH.png' %}">
    <title>FAQ | CollegeHub</title>
</head>
<body>
<div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    {% include 'collegeHub/logged_out_nav.html' %}
    <div id="Outer-timeline" style="height: 100%;">
        <div id="faq-container">
            <h1 style="color: #14213D"> Frequently asked questions</h1>
            <h5 style="font-weight: lighter; color: #626262">If you're new to CollegeHub, this guide answers common
                questions about the platform, the services we offer, and how to get started.</h5>
            <hr>
            <div>
                <h2 style="color: #FCA311"> Why choose CollegeHub? </h2>
                <p>
                    CollegeHub is the only portfolio/website creator which targets college students.
                    No coding experience, but still want to express your portfolio through a website? CollegeHub is the
                    right service for you.
                    You have option to choose from templates which describe your resume the best and portrays your
                    strengths and skills in the way you want
                </p>
            </div>
            <div>
                <h2 style="color: #FCA311"> Is CollegeHub right for me?</h2>
                <p>
                    Everyone has unique needs for their website portfolio,
                    so there’s one way to know if CollegeHub is right for you: try it!
                    <br>
                    <br>
                    We provide free service to college students with their college email id. You can explore our
                    platform,
                    Choose your template, create the website.
                    <br>
                    Happy exploring, start from here <a href="{% url 'home' %}"> Learn more</a>
                </p>
            </div>
            <div>
                <h2 style="color: #FCA311"> How do I get started?</h2>
                <p>
                    To get started go to CollegeHub.com and <a href="{% url 'signup' %}"> Sign up</a>.
                    <br>
                    We understand that creating a website portfolio takes time and every student's schedule is
                    different.
                    You don't need to build your website from scratch and finish. Just like every application, you
                    submit
                    you details for every resume section and it will deliver you with a default template website which
                    you can edit according your needs.
                    <br>
                    Premium features will be coming soon, which will come with exciting and helpful features to make
                    your experience the best evertime you publish.
                </p>
            </div>
            <div>
                <h2 style="color: #FCA311"> Which template should I use?</h2>
                <p>
                    On the current CollegeHub platform we offer 3 templates. The moment you sign up and fill the forms, your website is in default template mode, but
                    it doesn't limit the designs or layouts you can choose or create.
                    <br>
                    Explore the template store in settings to find a design that fits your vision or background. We recommend focusing more
                    attention to the structure and style rather than its example content shown in the thumbnail.
                    The demo content will be same with your details but with premium features and some coding skills you can customize it to meet you needs.
                    <br>
                    One good thing, if you decide you want to change the template of your site later, you can always go to settings and choose a new template from template store
                and your changes will be published in no longer than 10 minutes.
            </div>
            <div>
                <h2 style="color: #FCA311"> How do I get .CollegeHub.com out of my URL?</h2>
                <p>
                   All CollegeHub sites include a built-in domain URL that ends in .CollegeHub.com. To use a custom domain instead, you can:
                    Buy your own domain and connect the third party domain to your website.

                    <br>
                    For security purposes, when you will be logged in you will always see the same URL with .CollegeHub.com in your address bar, even if you have a custom domain.
                </p>
            </div>
<!--            <div>-->
<!--                <h2 style="color: #FCA311"> question1</h2>-->
<!--                <p>-->
<!--                    When using button classes on elements that are used to trigger in-page functionality (like-->
<!--                    collapsing content), rather than linking to new pages or sections within the current page, these-->
<!--                    links should be given a role="button" to appropriately convey their purpose to assistive-->
<!--                    technologies such as screen readers.-->
<!--                </p>-->
<!--            </div>-->
        </div>
        <div style="background-color: #14213D; text-align: center; height: 15rem; padding: 50px">
            <h1 style="color: #FCA311"> Cant find what you are looking for </h1>
            <a href="#" type="button" class="btn btn-outline-light btn-lg">Contact Us</a>
        </div>
    </div>
    <!--*******************************************CONTENT************************************************-->
</div>
<div id="mobile-body">
    <div id="mobile-container">
        <img src="../../static/collegehub/images/CH_white.png" style="width: 100px; height: 100px;margin-right: 10px">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{% static 'collegeHub/script.js' %}"></script>
</body>
</html>