{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style.css'%}">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!--logo icon / favicon-->
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{% static 'collegehub/images/CH.png' %}">
    <title>{{ user_profile.user }} | CollegeHub</title>
</head>

<body>
<div id="desktop">
    <!--    Navigation bar-->
    <nav class="navigation">
        <ul class="nav-list text-center ">
            <li>
                <a href="#"> Home </a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#skills"> Skills </a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a data-offset="-210,20" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                     style="background-image: linear-gradient(50deg, #86911a 0%, #d0de2f 74%); border-radius: 0.5rem 3rem 0.5rem 0.5rem;">
                    {% if user.is_authenticated %}
                    <h4 class="dropdown-header" style="font-size: large; color: white"><span>

                    {% if user.userprofile.profile_pic.url %}
                    <img src=" {{user.userprofile.profile_pic.url}} " id="settings-logo" alt="User name"></span>
                    {% else%}
                    <img src=" {% static 'collegehub/images/BlueHead.jpg'%} " id="settings-logo" alt="User name"></span>
                    {% endif %}

                        {{ user.username }}
                    </h4>
                    {% endif %}
<!--                    {% if user.username == user_profile.user.username and user.is_authenticated%}-->
<!--                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#add"><span> <i-->
<!--                            class="fas fa-plus-square"></i> </span>Add</a>-->
<!--                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#remove"><span> <i-->
<!--                            class="fas fa-minus-square"></i> </span>Remove</a>-->
<!--                    {% endif %}-->
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'settings' username=user.username %}"><span> <i
                            class="fas fa-cog"></i> </span>Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><span> <i
                            class="fas fa-sign-out-alt"></i> </span>Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}"><span> <i class="fas fa-sign-out-alt"></i> </span>Login</a>

                    {% endif %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Copyright CollegHub @ 2020</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="modal fade" id="add" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLabel">Add a Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="new_section_name">Section Name</label>
                            <input type="text" class="form-control" id="new_section_name" aria-describedby="emailHelp">
                        </div>
                        <button data-dismiss="modal" type="submit" class="btn btn-primary" onclick="section_add()">Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="removeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeLabel">Remove a Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="remove_section_name">Section Name to remove</label>
                            <input type="text" class="form-control" id="remove_section_name"
                                   aria-describedby="emailHelp">
                        </div>
                        <button data-dismiss="modal" type="submit" class="btn btn-primary" onclick="remove_section()">
                            Remove
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--header-->
    <header id="header">
        <div class="blur">
            <div id="name-container">
                {% if user_profile.profile_pic.url %}
                    <img id="user-image" src="{{user_profile.profile_pic.url}}" alt="User profile picture">

                {% else%}
                    <img id="user-image" src="{% static 'collegehub/images/BlueHead.jpg'%}" alt="User profile picture">

                {% endif %}


                <div id="info_container">
                    <h3 id="name">
                        {{ user_profile.user.first_name }} {{user_profile.user.last_name }}
                    </h3>
                    <h5 style="color: #d0de2f"> Computer Science</h5>
                    <h6 id="aboutme">
                        {{user_profile.bio}}
                    </h6>
                    <div id="social_links_tp0">
                        <a class="social_links_circle" href="{{ user_profile.instagram}}">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="social_links_circle" href="{{ user_profile.facebook}}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="social_links_circle" href="{{ user_profile.linkedin}}">
                            <i class="fa fa-linkedin FA_Header"></i>
                        </a>
                        <a class="social_links_circle" href="mailto:{{user_profile.email}}">
                            <i class="far fa-envelope FA_Header"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="sections-container">
        <section id="education">
            <div class="section-heading">
                <h1 id="education-heading-text">Education</h1>
            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated%}
                <button type="button" data-toggle="modal" data-target="#edu_add_card" class="option-button"><i
                        class="fas fa-plus"></i></button>
                {% endif %}
            </div>
            <div class="modal fade" id="edu_add_card" tabindex="-1" aria-labelledby="edu_add_cardLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edu_add_cardLabel">Add Education card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="education-form">
                                {% csrf_token %}
                                <div class="form-group">
                                  {{ educationForm }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="education-container">
                {% include 'collegeHub/education.html' %}
            </div>
        </section>
        <section id="skills">
            <div class="section-heading">
                <h1 id="skills-heading-text">Skills</h1>
            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated %}
                <button type="button" data-toggle="modal" data-target="#skills_add_card" class="option-button"><i
                        class="fas fa-plus"></i></button>
                {% endif %}
            </div>
            <div class="modal fade" id="skills_add_card" tabindex="-1" aria-labelledby="skills_add_cardLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="skills_add_cardLabel">Add Skill card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form method="post" id="skill-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_position" class="col-form-label"> Skill Name: </label>
                                    {{ skillForm.name }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <div id="skills-container">
                {% include 'collegeHub/skills.html' %}
            </div>

        </section>
        <section id="experience">
            <div class="section-heading">
                <h1 id="experience-heading-text">Experience</h1>
            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated%}
                <button type="button" data-toggle="modal" data-target="#experience_add_subsection"
                        class="option-button"><i class="fas fa-plus"></i></button>
                {% endif %}
            </div>
            {# ********** ADD SECTION POP UP **********#}
            <div class="modal fade" id="experience_add_subsection" tabindex="-1"
                 aria-labelledby="experience_add_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="experience_add_cardLabel">Add a Section to Experience</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="section-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_position" class="col-form-label">Type of Experience: </label>
                                    {{ sectionForm.name }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="experience-container">
                {% include 'collegeHub/experiences.html' %}
            </div>

        </section>
        <section id="projects">
            <div class="section-heading">
                <h1 id="projects-heading-text">Projects</h1>

            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated%}

                <button type="button" data-toggle="modal" data-target="#projects_add_card" class="option-button"><i
                        class="fas fa-plus"></i></button>
                {% endif %}
            </div>

            <div class="modal fade" id="projects_add_card" tabindex="-1" aria-labelledby="projects_add_cardLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="projects_add_cardLabel">Add Project card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="project-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ projectForm }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div id="projects-container">
                {% include 'collegeHub/projects.html' %}
            </div>
        </section>
    </main>
    <section id="contact" style="padding: 0;height: 80%">
        <div style="backdrop-filter: blur(9px);width: 100%;height: 100%">
            <div style="text-align: center;padding-top: 30px">
                <h1 id="contact_heading">Contact</h1>
            </div>
            <div id="contact_section_container">
                <div id="signature_container">
                    <h1 class="signature">{{ user_profile.user.first_name }} <br> {{user_profile.user.last_name }}</h1>
                </div>
                <div id="contact_info">
                    <div>
                        <a id="resume"> Resume </a>
                    </div>
                    <div>
                        <ul id="aboutme_list">
                            <li><strong> <span style="color: #edff00;font-weight: bold"> Age: </span> </strong> <span> 22 </span>
                            </li>
                            <li><strong> <span style="color: #edff00;font-weight: bold"> phone number: </span> </strong>
                                <span> (716)-999-9999 </span></li>
                            <li><strong> <span style="color: #edff00;font-weight: bold"> email: </span> </strong> <span> {{ user_profile.user.email}} </span>
                            </li>
                            <li><strong> <span style="color: #edff00;font-weight: bold"> address: </span> </strong>
                                <span> 7878 heaven st </span></li>
                        </ul>
                    </div>
                    <div id="social_links_tp0">
                        <a class="social_links_circle" style="font-size: 4rem;" href="{{ user_profile.instagram}}">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="social_links_circle" style="font-size: 4rem;" href="{{ user_profile.facebook}}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="social_links_circle" style="font-size: 4rem;" href="{{ user_profile.linkedin}}">
                            <i class="fa fa-linkedin FA_Header"></i>
                        </a>
                        <a class="social_links_circle" style="font-size: 4rem;" href="mailto:{{user_profile.user.email}}">
                            <i class="far fa-envelope FA_Header"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="mobile-body">
    <div id="mobile-container">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
        crossorigin="anonymous"></script>
<script src="{% static 'collegeHub/script.js' %}"></script>

{% if user.username == user_profile.user.username%}
    {% include 'collegeHub/javascript.html' %}
{% endif %}
</body>

</html>
