{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style.css'%}">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!--logo icon / favicon-->
    <!--      <link rel="icon" href="images/logo.png">-->
    <link rel="icon" href="{% static 'collegehub/images/CH.png' %}">
    <title>Name | CollegeHub</title>
</head>

<body>
<div id="desktop">
    <!--    Navigation bar-->
    <nav class="navigation">
        <ul class="nav-list text-center ">
            <li>
                <a href="#"> Home </a>
            </li>
            <li>
                <a href="#about"> About </a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#skills"> Skills </a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li class="nav-item dropdown" style="float: right;">
                <a data-offset="-155,20" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                     style="background-color: #14213D; border-radius: 7px;">
                {% if user.is_authenticated %}

                    <h4 class="dropdown-header" style="font-size: large; color: white"><span> <img src="{{user.userprofile.profile_pic.url}}" id="settings-logo" alt="User name"></span>
                        {{ user.first_name }} {{user.last_name }}
                    </h4>
                    {% endif %}
                    {% if user.username == user_profile.user.username and user.is_authenticated%}
                    <a type="button" class="dropdown-item"   data-toggle="modal" data-target="#add"><span> <i class="fas fa-plus-square"></i> </span>Add</a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#remove" ><span> <i class="fas fa-minus-square"></i> </span>Remove</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'settings' username=user.username %}"><span> <i class="fas fa-cog"></i> </span>Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><span> <i class="fas fa-sign-out-alt"></i> </span>Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}"><span> <i class="fas fa-sign-out-alt"></i> </span>Login</a>

                    {% endif %}
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Copyright CollegHub @ 2020</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="modal fade" id="add" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLabel">Add a Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="new_section_name">Section Name</label>
                            <input type="text" class="form-control" id="new_section_name" aria-describedby="emailHelp">
                        </div>
                        <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="section_add()">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="removeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeLabel">Remove a Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="remove_section_name">Section Name to remove</label>
                            <input type="text" class="form-control" id="remove_section_name" aria-describedby="emailHelp">
                        </div>
                        <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="remove_section()">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--header-->
    <header id="header">
        <div id="name-container">
            <h1 id="name"> {{ user_profile.user.first_name }} {{user_profile.user.last_name }}</h1>
            <h3 style="color : white;"> {{ user_profile.user }}</h3>
            <!--            add social links here too right under the name-->
            <h3>
                <a href="{{ user_profile.linkedin}}"><span><i class="fa fa-linkedin-square FA_Header" style="font-size:36px"></i></span> </a>
                <a href="{{user_profile.github}}"><span><i class="fa fa-github-square FA_Header" style="font-size:36px"></i></span> </a>
                <a href="{{user_profile.instagram}}"><span><i class="fa fa-instagram FA_Header" style="font-size:36px"></i></span> </a>
            </h3>
        </div>
    </header>

    <main id="sections-container">
        <section id="about">
            <img id="user-image" src="{{user_profile.profile_pic.url}}" alt="User profile picture">
            <div class="section-heading">
                <h1>About</h1>
            </div>
            <p> {{user_profile.bio}}
            </p>
        </section>
        <section id="education">
            <div class="section-heading">
                <h1 id="education-heading-text">Education</h1>
{#                <button type="button" class="option-button"  data-toggle="modal" data-target="#edu_rename_section"><i class="fas fa-pencil-alt"></i></button>#}
            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated%}
                <button type="button" data-toggle="modal" data-target="#edu_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
                {% endif %}
            </div>
{#            <div class="modal fade" id="edu_rename_section" tabindex="-1" aria-labelledby="edu_rename_sectionLabel" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="edu_rename_sectionLabel">Rename Section</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <form onsubmit="return false">#}
{#                                <div class="form-group">#}
{#                                    <label for="edu_new_name">New Name</label>#}
{#                                    <input type="text" class="form-control" id="edu_new_name" aria-describedby="emailHelp">#}
{#                                </div>#}
{#                                <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="rename_section('education-heading-text','edu_new_name')">Rename</button>#}
{#                            </form>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="modal fade" id="edu_add_card" tabindex="-1" aria-labelledby="edu_add_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edu_add_cardLabel">Add Education card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <h1> Education Test </h1>
                            <form method="post" id="education-form">
                                {% csrf_token %}
                                {{ educationForm.as_p }}
                                <button type="submit"> Upload </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="education-container">
                {% include 'collegeHub/education.html' %}
            </div>
        </section>
        <section id="skills">
            <div class="section-heading">
                <h1 id="skills-heading-text">Skills</h1>
{#                <button type="button" class="option-button"  data-toggle="modal" data-target="#skills_rename_section"><i class="fas fa-pencil-alt"></i></button>#}
            </div>
            <div class="ellipse-container">
                {% if user.username == user_profile.user.username and user.is_authenticated %}

                <button type="button" data-toggle="modal" data-target="#skills_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
                {% endif %}
            </div>


            <div class="modal fade" id="skills_add_card" tabindex="-1" aria-labelledby="skills_add_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="skills_add_cardLabel">Add Skill card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                           <form method="post" id="skill-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_position" class="col-form-label"> Skill Name: </label>
                                        {{ skillForm.name }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

            <div id="skills-container">
                {% include 'collegeHub/skills.html' %}
            </div>

        </section>
        <section id="experience">
            <div class="section-heading">
                <h1 id="experience-heading-text">Experience</h1>
{#                <button type="button" class="option-button"  data-toggle="modal" data-target="#experience_rename_section"><i class="fas fa-pencil-alt"></i></button>#}
            </div>
            <div class="ellipse-container">
                                {% if user.username == user_profile.user.username and user.is_authenticated%}

                <button type="button" data-toggle="modal" data-target="#experience_add_subsection" class="option-button"> <i class="fas fa-plus"></i></button>
           {% endif %}
            </div>

            {# ********** RENAME TOPIC POP UP **********#}
{#            <div class="modal fade" id="experience_rename_section" tabindex="-1" aria-labelledby="experience_rename_sectionLabel" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="experience_rename_sectionLabel">Rename Section</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <form onsubmit="return false">#}
{#                                <div class="form-group">#}
{#                                    <label for="experience_new_name">New Name</label>#}
{#                                    <input type="text" class="form-control" id="experience_new_name" aria-describedby="emailHelp">#}
{#                                </div>#}
{#                                <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="rename_section('experience-heading-text','experience_new_name')">Rename</button>#}
{#                            </form>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {# ********** ADD SECTION POP UP **********#}
            <div class="modal fade" id="experience_add_subsection" tabindex="-1" aria-labelledby="experience_add_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="experience_add_cardLabel">Add a Section to Experience</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
{#                            <h1> Create a Section </h1>#}
                            <form method="post" id="section-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_position" class="col-form-label">Type of Experience: </label>
                                        {{ sectionForm.name }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div id="experience-container">
                {% include 'collegeHub/experiences.html' %}
            </div>

        </section>
        <section id="projects">
            <div class="section-heading">
                <h1 id="projects-heading-text">Projects</h1>
{#                <button type="button" class="option-button"  data-toggle="modal" data-target="#projects_rename_section"><i class="fas fa-pencil-alt"></i></button>#}
            </div>
            <div class="ellipse-container">
                                {% if user.username == user_profile.user.username and user.is_authenticated%}

                <button type="button" data-toggle="modal" data-target="#projects_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
            {% endif %}
            </div>
{#            <div class="modal fade" id="projects_rename_section" tabindex="-1" aria-labelledby="projects_rename_sectionLabel" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="projects_rename_sectionLabel">Rename Section</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <form onsubmit="return false">#}
{#                                <div class="form-group">#}
{#                                    <label for="projects_new_name">New Name</label>#}
{#                                    <input type="text" class="form-control" id="projects_new_name" aria-describedby="emailHelp">#}
{#                                </div>#}
{#                                <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="rename_section('projects-heading-text','projects_new_name')">Rename</button>#}
{#                            </form>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="modal fade" id="projects_add_card" tabindex="-1" aria-labelledby="projects_add_cardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="projects_add_cardLabel">Add Project card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="project-form">
                                {% csrf_token %}
                                <div class="form-group">
                                        {{ projectForm }}
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div id="projects-container">
                {% include 'collegeHub/projects.html' %}
            </div>
        </section>
        <!--     **************   DONT REMOVE THIS COMMENT SECTION ***************-->
<!--        <section id="cert">-->
<!--        <div class="section-heading">-->
<!--            <h1 id="cert-heading-text">cert</h1>-->
<!--            <button type="button" class="option-button"  data-toggle="modal" data-target="#cert_rename_section"><i class="fas fa-pencil-alt"></i></button>-->
<!--        </div>-->
<!--        <div class="ellipse-container">-->
<!--            <button type="button" data-toggle="modal" data-target="#cert_add_card" class="option-button"> <i class="fas fa-plus"></i></button>-->
<!--        </div>-->
<!--        <div class="modal fade" id="cert_rename_section" tabindex="-1" aria-labelledby="cert_rename_sectionLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="cert_rename_sectionLabel">Rename Section</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <form onsubmit="return false">-->
<!--                            <div class="form-group">-->
<!--                                <label for="cert_new_name">New Name</label>-->
<!--                                <input type="text" class="form-control" id="cert_new_name" aria-describedby="emailHelp">-->
<!--                            </div>-->
<!--                            <button data-dismiss="modal"  type="submit" class="btn btn-primary" onclick="rename_section('cert-heading-text','cert_new_name')">Rename</button>-->
<!--                        </form>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="modal fade" id="cert_add_card" tabindex="-1" aria-labelledby="cert_add_cardLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="cert_add_cardLabel">Add Education card</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <h3>every section will have its own form</h3>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="cert-container">-->

<!--        </div>-->
<!--    </section>-->
        <!--     **************   DONT REMOVE THIS COMMENT SECTION ***************-->

    </main>
    <section id="contact">
        <div>
            <h1>Contact</h1>
        </div>
        <div id="contact-container">
            <div class="card text-center">
                <div class="card-header">
                    Reach me at
                </div>
                <div class="card-body">
                    
                    <a href="{{user_profile.linkedin}}" class="btn btn-primary"> linkedin </a>
                </div>
                <div class="card-footer text-muted">
                    {{user_profile.email}}
                </div>
            </div>
        </div>
    </section>
    <footer>
        <nav class="navbar fixed-bottom navbar-light" style="background-image: linear-gradient(50deg, #b83b5e 5%, #b83b5e 34%);
        background-size: 100%;
        background-repeat: repeat;justify-content: space-between; padding: 0 20px 0 20px; height: 40px">
        <span style="color: white">
          @ 2020 CollegeHub
        </span>

        </nav>
    </footer>
</div>

<div id="mobile-body">
    <div id="mobile-container">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="script.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
        crossorigin="anonymous"></script>

<script src="{% static 'collegeHub/script.js' %}"></script>
<script>
    const sectionForm = document.getElementById('section-form');
    let current_user = {% if user.username == user_profile.user.username  and user.is_authenticated %} true {% else %}false {% endif %}
    console.log(current_user)

    sectionForm.addEventListener("submit", submitSectionHandler);
    function submitSectionHandler(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'create-section' pk=experience.pk %}',
            data: $("#section-form").serialize(),
            dataType: 'json',
            success: function (response) {
                if(!response.fail){
                    try {
                        document.getElementById('no-section').remove();
                    }catch {}

    

                    var section = '<div class="sub-section">\n' +
                        '            <div class="sub-section-header">\n' +
                        '                 <div class="sub-section-heading">\n' +
                        '                    <h4 class="sub-section-heading-text" >\n' +
                                                response.name +
                        '                    </h4>\n' +
                        '                </div>\n' +
                        '                <button type="button" data-toggle="modal" data-target="#add-experience-specific-' + response.section_pk  + '" class="sub-section-button"><i class="fas fa-plus"></i></button>\n' +
                        '            </div>\n' +
                        '            <div class="modal fade" id="add-experience-specific-' + response.section_pk  + '" tabindex="-1" aria-labelledby="add-experience-specificLabel" aria-hidden="true">\n' +
                        '                <div class="modal-dialog">\n' +
                        '                    <div class="modal-content">\n' +
                        '                        <div class="modal-header">\n' +
                        '                            <h5 class="modal-title" id="add-experience-specificLabel">Add an ' + response.name  + ' </h5>\n' +
                        '                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                        '                                <span aria-hidden="true">&times;</span>\n' +
                        '                            </button>\n' +
                        '                        </div>\n' +
                        '                        <div class="modal-body">\n' +
                        '\n' +
                        '                            <form method="post" id="specific-form-' + response.section_pk  + '"  class="specific-form">\n' +
                        '                                {% csrf_token %}\n' +
                        '                                <div class="form-group row">\n' +
                        '                                    <label for="id_position" class="col-sm-2 col-form-label">Position: </label>\n' +
                        '                                    <div class="col-sm-10">\n' +
                        '                                        {{ specificForm.position }}\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                                <div class="form-group row">\n' +
                        '                                    <label for="id_company" class="col-sm-2 col-form-label">Company: </label>\n' +
                        '                                    <div class="col-sm-10">\n' +
                        '                                        {{ specificForm.company }}\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                                <div class="form-group">\n' +
                        '                                    <label for="id_company" class="col-form-label">Description: </label>\n' +
                        '                                    {{ specificForm.description }}\n' +
                        '                                </div>\n' +
                        '                                <div class="form-group row">\n' +
                        '                                    <label for="id_company" class="col-sm-2 col-form-label">Link: </label>\n' +
                        '                                    <div class="col-sm-10">\n' +
                        '                                        {{ specificForm.link }}\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                              <button type="submit" class="btn btn-primary specific-form-submit">Add</button>\n' +
                        '\n' +
                        '                            </form>\n' +
                        '\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '            <div class="sub-section-container" id="sub-section-container">\n' +
                        '                <ul id="sub-section-list-' + response.section_pk +'" class="list-unstyled">\n' +
                        '                            <li style="background-color: transparent" class="card" id="no-specific">\n' +
                        '                              <div class="card-body">\n' +
                        '                                Click on + to add a(n) ' + response.name  + '\n' +
                        '                              </div>\n' +
                        '                            </li>\n' +
                        '                </ul>\n' +
                        '            </div>\n' +
                        '        </div>';

                     $("#experience-container").append(section);
                     var elem_id = "specific-form-" + response.section_pk;

                     var newForm = document.getElementById(elem_id);
                     newForm.addEventListener("submit", submitSpecificHandler);

                }
            }
        })
    }
    var specificForms = document.getElementsByClassName("specific-form");
      for (i = 0; i < specificForms.length; i++) {
        specificForms[i].addEventListener("submit", submitSpecificHandler);
      }

    {#$(document).on('submit', 'form.specific-form', submitSpecificHandler);#}
    function submitSpecificHandler(e){
        e.preventDefault();
        var form_id = this.id;
        var sec_pk = form_id.substring('specific-form-'.length);
        var url = '{% url 'specific-url' %}/'  + sec_pk;
        console.log('Test: ' + form_id +' '+ sec_pk+ ' : '+url);
        $.ajax({
            type: 'POST',
            url: url,
            data: $('#'+form_id).serialize(),
            dataType: 'json',
            success: function (response) {
                if(!response.fail){

                    try {
                        document.getElementById('no-specific').remove();
                     }catch {}

                    var specific = '<li class="media" style="margin: 10px 10px 18px 10px">\n';
                        {#specific + '                                <img src="{{ specific.image.url }}" class="mr-3" alt="..." width="250" height="200">\n' +#}
                        specific += '<div class="media-body">\n';
                        specific += ' <h5 class="mt-0 mb-1"> '+ response.position +'</h5>\n';
                        if (response.company != '' && response.company != 'None'){
                            specific += '<h7 class="mt-0 mb-1">'+ response.company +'</h7>\n';
                        }
                         specific += '<p style="margin-bottom: 3px">\n' + response.description +'\n'+ '</p>\n';
                        if (response.link != ''){
                            specific+='<a href="'+ response.link +'" class="btn btn-outline-danger">Link</a>\n';
                            }
                        specific += '</div>\n' + '</li>';

                $("#sub-section-list-"+sec_pk).append(specific);

                }
            }
        })
    }


    const educationForm = document.getElementById('education-form');
educationForm.addEventListener("submit", submitEducationHandler);
function submitEducationHandler(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'create-education' pk=user_profile.pk %}',
        data: $("#education-form").serialize(),
        dataType: 'json',
        success: function (response) {
            if(!response.fail){
                try {
                    document.getElementById('no-education').remove();
                }catch {}

                var education = '<div class="card mb-3 marg-20 edu-card" id="uni" style="max-width: 440px;">\n' +
                    '        <div class="row no-gutters">\n' +
                    {#'            <div class="col-md-4">\n' +#}
                    {#'                <img src="{% static \'collegehub/images/preview.jpg\' %}" class="card-img" alt="edu-logo">\n'#}
                    {#'            </div>\n' +#}
                    '            <div class="col-md-12">\n' +
                    '                <div class="dropdown ">\n' +
                    
                    '                    <button type="button" class="option-button" id="uni-Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n' +
                    '                        <i class="fas fa-ellipsis-v"></i>\n' +
                    '                    </button>\n' +
                    
                   '                    <div class="dropdown-menu" aria-labelledby="uni-Button">\n' +
                    '                        <button class="dropdown-item"  data-toggle="modal" data-target="#edit_card">Edit</button>\n' +
                    '                        <button class="dropdown-item"  onclick="removeme(\'uni\')">Remove</button>\n' +
                    '                    </div>\n' +
                    '                </div>\n' +
                    '                <div class="card-body" >\n';
                    if (response.certification_name != ''){
                        education += '<h5 id="major" class="card-title">'+ response.certification_name +'</h5>\n';
                    }
                    if (response.institution != ''){
                        education += '<h6 id="uniname" class="card-text"> Institution: '+ response.institution + '</h6>\n';
                    }
                    if (response.description != ''){
                        education += '<h6 id="edu-descrption" class="card-text"> Description: '+ response.description + '</h6>\n';
                    }

                    education += '                    <p id="year" class="card-text"><small class="text-muted">Date: '+response.month+'/'+response.year+'</small></p>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        <div class="modal fade" id="edit_card" tabindex="-1" aria-labelledby="edit_cardLabel" aria-hidden="true">\n' +
                    '            <div class="modal-dialog">\n' +
                    '                <div class="modal-content">\n' +
                    '                    <div class="modal-header">\n' +
                    '                        <h5 class="modal-title" id="edit_cardLabel">Add Education card</h5>\n' +
                    '                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                    '                            <span aria-hidden="true">&times;</span>\n' +
                    '                        </button>\n' +
                    '                    </div>\n' +
                    '                    <div class="modal-body">\n' +
                    '                       <h3> add form for edit</h3>\n' +
                    '                    </div>\n' +
                    '\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '    </div>';

                $("#education-container").append(education);

            }
        }
    })
}

    const skillForm = document.getElementById('skill-form');

    skillForm.addEventListener("submit", submitSkillHandler);
    function submitSkillHandler(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'create-skill' pk=user_profile.pk %}',
            data: $("#skill-form").serialize(),
            dataType: 'json',
            success: function (response) {
                if(!response.fail){

                    try {
                        document.getElementById('no-skill').remove();
                    }catch {}

                    var skill = '<div class="card text-white bg-success mb-3" style="max-width: 18rem;">\n' +
                        '        <div class="card-header">'+ response.name +'</div>\n    </div>';

                    $("#skills-container").append(skill);

                }
            }
        })
    }

    const projectForm = document.getElementById('project-form');

    projectForm.addEventListener("submit", submitProjectHandler);
    function submitProjectHandler(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'create-project' pk=user_profile.pk %}',
            data: $("#project-form").serialize(),
            dataType: 'json',
            success: function (response) {
                if(!response.fail){
                    try {
                        document.getElementById('no-project').remove();
                    }catch {}

                    var project = '<div class="card">\n' +
                        '        <div class="card-header">\n' + response.name +
                        '        </div>\n' +
                        '        <div class="card-body">\n' +
                        '            <blockquote class="blockquote mb-0">\n' +
                        '                <p>' + response.description + '</p>\n' +
                        '                <footer class="blockquote-footer">\n';

                    if (response.month != ''){
                        project += response.month +'/';
                    }

                    project += response.year + '                </footer>\n' +
                        '            </blockquote>\n' +
                        '        </div>\n' +
                        '    </div>';
                    console.log(project)
                    $("#projects-container").append(project);

                }else{alert('Form was not filled in correctly, please enter the required information')}
            }
        })
    }

</script>
</body>

</html>
