
<nav class="nav sticky-top" style="  background-size: 100%;background: linear-gradient(to right, #14213D, #265883, #14213D) repeat;backdrop-filter: blur(10px);justify-content: space-between;padding: 5px 20px 0 20px;height: 50px">
        <ul class="nav">
            <li>
                <div style="width: 90px; height: 90px;padding: 5px">
                    <img src="{{ user_profile.profile_pic.url }}" id="nav-logo" alt="CollegeHub Logo">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: whitesmoke; font-weight: lighter; font-size: 20px" href="{% url 'index' username=user_profile.user %}"> {{ user_profile.user.first_name }} {{user_profile.user.last_name }}</a>
            </li>
        </ul>
        <span id="nav-name">
            <img src="../../static/collegehub/images/CH_white.png" style="width: 45px; height: 45px">
        </span>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' username=user_profile.user %}"><span> <i
                        class="fas fa-user-circle"> </i> </span>Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  data-offset="-155,20" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #14213D; border-radius: 7px">
                    <h4 class="dropdown-header" style="font-size: large; color: white"> <span> <img src="{{user.userprofile.profile_pic.url}}" id="settings-logo" alt="User name"></span>{{user_profile.user}}</h4>
                    <a class="dropdown-item" href="{% url 'account' username=user_profile.user %}"><span> <i class="fas fa-cog"></i> </span>Account</a>
                    <a class="dropdown-item" href="{% url 'home' %}"><span> <i class="fas fa-sign-out-alt"></i> </span>Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Copyright CollegHub @ 2020</a>
                   
                </div>
            </li>
        </ul>
    </nav>