{% load static %}
{% if user_profile.project.count == 0 %}
    {% if user.username == user_profile.user.username%}
        <li style="background-color: transparent; font-size: 24px" class="card" id="no-project">
              <div class="card-body">
                    Click on + to add a project
              </div>
        </li>
        {% endif %}
{% endif %}

{% for project in user_profile.project.all %}
    <div class="card" style="width: 900px;box-shadow: -30px 0 30px 0 lightgrey;" id="project-{{ project.pk }}">
        <div class="card-header" style="font-weight: bold;" id="project-{{ project.pk }}-name">
            {{project.name}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p id="project-{{ project.pk }}-description">{{project.description}}</p>
                <footer class="blockquote-footer" id="project-{{ project.pk }}-date">
                    {% if project.month != None %}
                        {{project.month}} /
                    {% endif %}
                    {{ project.year }}
                </footer>
            </blockquote>
        </div>
    </div>
{% endfor %}