<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Specific Test </h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit" id="submit-test3">Upload</button>
</form>
</body>
<script>
    $(".submit-test3").click(function(){

    $.ajax({
        url : '/register/',
        type : 'post',
        data : {
            data : serializedData,
            csrfmiddlewaretoken: "{{ csrf_token }}",
        },

    })
   })
</script>
</html>