{%  load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style.css'%}">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!--logo icon / favicon-->
    <link rel="icon" href="{% static 'collegehub/images/CH.png' %}">
    <title>Settings | CollegeHub</title>
</head>

<body>
<div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    {% include 'collegeHub/logged_in_nav.html' %}
    <div id="Outer-timeline">
        <div id="inner-timeline-left">
            <div class="card mb-3" style="background-color: #E5E5E5; box-shadow: 30px 0 30px 0 lightgrey; border: none">
                <div class="row no-gutters">
                    <div class="col-md-5">
<!--                        <iframe src="http://www.webpage.com" width="400" height="400"></iframe>-->
                        <img src="{% static 'collegehub/images/template1.png' %}" id="website-preview"
                             alt="Website preview">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <a href="{% url 'index' username=user_profile.user %}"><h5 class="card-title"><b><span> {{ user_profile.user |lower }}</span>.collegeHub</b>
                            </h5></a>

                            <p class="card-text">{{user_profile.bio}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="template-container">
                <h1 id="template-heading"> Template Store</h1>
                <div class="tp-card template">
                    <div class="tp-info">
                        <a href="{% url 'temp0' %}" class="temp-title"><h5 ><b> Red Marble</b></h5></a>
                        <p class="card-text">Shades:</p>
                        <div class="shades">
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#d0de2f"
                                      d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#a20a0a"
                                      d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#376f8a"
                                      d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#eeecda"
                                      d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z"
                                      transform="translate(100 100)"/>
                            </svg>
                        </div>
                    </div>
                    <div id="tp-img-container">
                        <a class="tp-img" type="button" data-toggle="modal" data-target="#tp1">
                            <img src="{% static 'collegehub/images/template1.png' %}" class="card-img"
                                 alt="Default template">
                        </a>
                        <div class="modal fade" id="tp1" data-backdrop="static" data-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Template 0</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'collegehub/images/template1.png' %}" class="card-img"
                                             alt="Default template">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'temp0' %}" type="button" class="btn btn-primary">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tp-card template">
                     <div id="tp-img-container">
                        <a class="tp-img" type="button" data-toggle="modal" data-target="#tp2">
                            <img src="{% static 'collegehub/images/template2.png' %}" class="card-img"
                                 alt="Default template">
                        </a>
                        <div class="modal fade" id="tp2" data-backdrop="static" data-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Template 0</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'collegehub/images/template2.png' %}" class="card-img"
                                             alt="Default template">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'temp1' %}" type="button" class="btn btn-primary">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-info">
                        <a href="{% url 'temp1' %}" class="temp-title"><h5><b> Purple Candy</b></h5></a>
                        <p class="card-text">Shades:</p>
                        <div class="shades">
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#8785a2"
                                      d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#f6f6f6"
                                      d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#ffe2e2"
                                      d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z"
                                      transform="translate(100 100)"/>
                            </svg>
                            <svg width="70" height="70" viewBox="0 0 200 200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill="#ffc7c7"
                                      d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z"
                                      transform="translate(100 100)"/>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="tp-card template">
                    <div class="tp-info">
                        <a href="{% url 'temp2' %}" class="temp-title"><h5><b> Subtle Blue</b></h5></a>
                        <p class="card-text">Shades:</p>
                        <div class="shades" >
                             <svg width="70" height="70" viewBox="0 0 200 200"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#68d3c5"
                                              d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z"
                                              transform="translate(100 100)"/>
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#585e64"
                                              d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z"
                                              transform="translate(100 100)"/>
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#373b40"
                                              d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z"
                                              transform="translate(100 100)"/>
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#FFD700"
                                              d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z"
                                              transform="translate(100 100)"/>
                                    </svg>
                        </div>
                    </div>
                    <div id="tp-img-container">
                        <a class="tp-img" type="button" data-toggle="modal" data-target="#tp3">
                            <img src="{% static 'collegehub/images/template3.png' %}" class="card-img"
                                 alt="Default template">
                        </a>
                        <div class="modal fade" id="tp3" data-backdrop="static" data-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Template 0</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'collegehub/images/template3.png' %}" class="card-img"
                                             alt="Default template">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'temp2' %}" type="button" class="btn btn-primary">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div id="inner-timeline-right">
            <div class="card account-card" style="border-radius: 1rem">
                <div class="card-header account-header" style="font-size: 30px;">
                    <div class="account-tab">
                        <span><i class="fas fa-user-edit" style="margin-right: 10px"></i></span>Account
                    </div>
                    <div class="account-tab">
                        <a href="{% url 'account'%}" style="border-radius: 1rem"
                           class="btn btn-outline-warning">Edit</a>
                    </div>
                </div>
                <div class="card-body" style="font-size: 15px">
                    <p class="card-text mg-0"><span><i class="fas fa-user"></i> </span> <b>Username:</b>
                        {{user_profile.user}}</p>
                    <p class="card-text mg-0"><span> <i class="fas fa-globe-americas"></i></span> <b>Domain:</b>
                        {{user_profile.user | lower}}.collegehub.com</p>
                    <p class="card-text mg-0"><span><i class="fas fa-scroll"></i></span> <b>Template:</b> Template_name
                    </p>
                    <p class="card-text mg-0"><span><i class="fas fa-certificate"></i></span> <b>Premium:</b> No</p>
                    <p class="card-text mg-0"><span> <i class="fas fa-calendar-alt"></i></span> <b>Schedule:</b> Public
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="card account-card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Scheduler</h5>
                    <p class="card-text"><img src="../../static/collegehub/images/schedule.png" height="80" width="80"/>
                    </p>
                    <a href="#" class="btn btn-outline-danger">Coming Soon</a>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <nav class="navbar fixed-bottom navbar-light" style="background-size: 100%;background: linear-gradient(to right, #14213D, #265883, #14213D);
        background-size: 100%;
        background-repeat: repeat;justify-content: space-between; padding: 0 20px 0 20px; height: 40px">
            <span style="color: white">
                @ 2020 CollegeHub
            </span>
            <span>
                <a class="nav-link" href="https://github.com/UB-CSE/course-project-a9-collegehub" target="_blank"
                   style="color: white"><span> <i class="fab fa-github"></i> </span>Github</a>
            </span>
        </nav>
    </footer>
    <!--*******************************************CONTENT************************************************-->
</div>
<div id="mobile-body">
    <div id="mobile-container">
        <img src="../../static/collegehub/images/CH_white.png" style="width: 100px; height: 100px;margin-right: 10px">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="script.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{% static 'collegeHub/script.js' %}"></script>
</body>
</html>
