<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--logo icon / favicon-->
    <!--    <link rel="icon" href="images/logo.png">-->
    <title>Settings</title>
</head>

<body>
<div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    <nav class="nav sticky-top" style="  background-size: 100%;
        background: linear-gradient(to right, #008284, #00b8ba, #008284) repeat;
        backdrop-filter: blur(10px);
        justify-content: space-between;
        padding: 5px 20px 0 20px;
        height: 50px">
        <ul class="nav">
            <li>
                <div style="width: 90px; height: 90px;padding: 5px">
                    <img src="images/logo.png" id="nav-logo" alt="CollegeHub Logo">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: whitesmoke; font-size: 20px" href="#">Full Name</a>
            </li>
        </ul>
        <span id="nav-name">
            <h2>CollegeHub</h2>
        </span>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="index.html"><span> <i
                        class="fas fa-user-circle"> </i> </span>Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  data-offset="-155,20" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #81b5b5; border-radius: 7px">
                    <h4 class="dropdown-header" style="font-size: large; color: white"> <span> <img src="images/logo.png" id="settings-logo" alt="User name"></span>Full Name</h4>
                    <a class="dropdown-item" href="#"><span> <i class="fas fa-cog"></i> </span>Account</a>
<!--                    <a class="dropdown-item" href="#"><span> <i class="fas fa-users"></i> </span>People</a>-->
                    <a class="dropdown-item" href="#"><span> <i class="fas fa-sign-out-alt"></i> </span>Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Copyright CollegHub @ 2020</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="Outer-timeline">
        <div id="inner-timeline-left">
            <div class="card mb-3" style="background-color:rgba(0,0,0,.03);">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="images/preview.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"><b>Fullname.collegehub</b></h5>
                            <p class="card-text">I am a software engineer blah bah blah, some few lines from about.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1 id="template-heading" style="text-align: center"> Template</h1>
            <div id="template-container">
                <div data-aos="fade-right" class="card mb-3 template" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="images/vertical_template1.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Template Name </b></h5>
                                <p class="card-text">Shades:</p>
                                <div class="shades">
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#6a2c70" d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#b83b5e" d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#f08a5d" d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#eeecda" d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z" transform="translate(100 100)" />
                                    </svg>
                                </div>
                                <br>
                                <p class="card-text"><small class="text-muted">Major related name</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" class="card mb-3 template" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Template Name </b></h5>
                                <p class="card-text">Shades:</p>
                                <div class="shades">
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#8785a2" d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#f6f6f6" d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ffe2e2" d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ffc7c7" d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z" transform="translate(100 100)" />
                                    </svg>
                                </div>
                                <br>
                                <p class="card-text"><small class="text-muted">Major related name</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="images/vertical_template.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card mb-3 template" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="images/vertical_template2.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Template Name </b></h5>
                                <p class="card-text">Shades:</p>
                                <div class="shades">
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ffde7d" d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#f6416c" d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#f8f3d4" d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#00b8a9" d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z" transform="translate(100 100)" />
                                    </svg>
                                </div>
                                <br>
                                <p class="card-text"><small class="text-muted">Major related name</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 template" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Template Name </b></h5>
                                <p class="card-text">Shades:</p>
                                <div class="shades">
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ff8c94" d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ffaaa6" d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#ffd3b5" d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#dcedc2" d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z" transform="translate(100 100)" />
                                    </svg>
                                </div>
                                <br>
                                <p class="card-text"><small class="text-muted">Major related name</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="images/vertical_template1.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card mb-3 template" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="images/vertical_template.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Template Name </b></h5>
                                <p class="card-text">Shades:</p>
                                <div class="shades">
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#eeeeee" d="M50,-28.8C63.2,-6.1,71.1,19.8,61.9,39.2C52.7,58.5,26.3,71.4,5,68.5C-16.3,65.6,-32.6,46.9,-44.7,25.9C-56.7,4.9,-64.6,-18.4,-56.4,-38.3C-48.2,-58.1,-24.1,-74.4,-2.9,-72.8C18.4,-71.1,36.8,-51.5,50,-28.8Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#d72323" d="M60.2,-49.7C74.6,-29.9,80.7,-5,72.6,11.1C64.6,27.2,42.4,34.7,23.3,41.1C4.2,47.6,-12,53,-25.6,48.3C-39.3,43.6,-50.5,28.8,-51.9,14.2C-53.3,-0.4,-45,-14.8,-34.8,-33.8C-24.5,-52.7,-12.2,-76.1,5.3,-80.3C22.9,-84.5,45.7,-69.6,60.2,-49.7Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#3a4750" d="M47.6,-42.9C57.8,-25.2,59.5,-5.6,57.2,16.5C54.9,38.6,48.6,63.3,35.5,67.1C22.3,71,2.2,54,-16.1,41.9C-34.5,29.8,-51.2,22.7,-53.7,12.1C-56.2,1.6,-44.4,-12.2,-33.1,-30.2C-21.8,-48.2,-10.9,-70.3,3.9,-73.4C18.7,-76.5,37.4,-60.6,47.6,-42.9Z" transform="translate(100 100)" />
                                    </svg>
                                    <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#303841" d="M37.6,-25.8C48.5,-16.2,57.1,-0.6,54,12.1C50.9,24.8,36.1,34.5,18.4,46C0.7,57.5,-19.8,70.7,-36.8,66.4C-53.8,62.1,-67.1,40.2,-68,20.2C-68.9,0.1,-57.3,-18.2,-43.9,-28.4C-30.5,-38.5,-15.2,-40.6,-1,-39.8C13.3,-39,26.6,-35.4,37.6,-25.8Z" transform="translate(100 100)" />
                                    </svg>
                                </div>
                                <br>
                                <p class="card-text"><small class="text-muted">Major related name</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="inner-timeline-right">
            <div class="card">
                <div class="card-header account-header" style="font-size: 30px;">
                    <div class="account-tab">
                        <span><i class="fas fa-user-edit" style="margin-right: 10px"></i></span>Account
                    </div>
                    <div class="account-tab">
                        <a href="#" class="btn btn-outline-info">Edit</a>
                    </div>
                </div>
                <div class="card-body" style="font-size: 15px">
                    <p class="card-text mg-0"><span><i class="fas fa-user"></i> </span> <b>Username:</b> Fullname</p>
                    <p class="card-text mg-0"><span> <i class="fas fa-globe-americas"></i></span>  <b>Domain:</b> Fullname.collegehub.com</p>
                    <p class="card-text mg-0"> <span><i class="fas fa-scroll"></i></span>  <b>Template:</b> Template_name</p>
                    <p class="card-text mg-0"> <span><i class="fas fa-certificate"></i></span> <b>Premium:</b> No</p>
                    <p class="card-text mg-0"> <span> <i class="fas fa-calendar-alt"></i></span>  <b>Schedule:</b> Public</p>
                </div>
            </div>
            <br>
            <hr>
            <br>

        </div>
    </div>
    <footer>
        <nav class="navbar fixed-bottom navbar-light" style="background-image: linear-gradient(50deg, #008284 5%, #00b8ba 74%);
        background-size: 100%;
        background-repeat: repeat;justify-content: space-between; padding: 0 20px 0 20px; height: 40px">
            <span style="color: white">
                @ 2020 CollegeHub
            </span>
            <span>
                <a class="nav-link" href="https://github.com/UB-CSE/course-project-a9-collegehub" target="_blank" style="color: white"><span> <i class="fab fa-github"></i> </span>Github</a>
            </span>
        </nav>
    </footer>
    <!--*******************************************CONTENT************************************************-->
</div>
<div id="mobile-body">
    <div id="mobile-container">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="script.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="script.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>