{% if user_profile.skill.count == 0 %}
        {% if user.username == user_profile.user.username%}

        <li style="background-color: transparent; font-size: 24px" class="card" id="no-skill">
              <div class="card-body">
                    Click on + to add a skill
              </div>
        </li>
        {% endif %}
{% endif %}

{% for skill in user_profile.skill.all %}
    <div class="card text-white bg-success mb-3" style="border-radius: 4rem;background-image: linear-gradient(50deg, #214252 0%, #376f8a 74%);max-width: 18rem; border: #9da724 3px solid">
        <div class="skill-header">{{skill.name}}</div>
    </div>
{% endfor %}
