{%  load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!--    Style CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style_tp2.css'%}">
  <!--    fontawesome-->
  <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
  <!--    Animate on scroll (AOS)-->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!--logo icon / favicon-->
  <!--    <link rel="icon" href="images/logo.png">-->
  <title> Template-2 | CollegeHub</title>
</head>

<body>
  <div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    <div id="Outer-timeline">
      <header>
        <nav>

        </nav>
        <div id="name-container">
          <!-- First name last name and picture -->
        </div>
      </header>
      <main id="sections-container">
        <section id="about">
          <div class="section-heading">
            <h1 class="section-heading-text"> About</h1>
          </div>
          <div class="section-container" id="about-container">
            <p>
              fbjnsdbjndwjbnwljkvwekvnwejewnvkljwe v
            </p>
          </div>
        </section>
        <section id="Education">
          <div class="section-container" id="Education-container">
            
          </div>
          <div class="section-heading">
            <h1 class="section-heading-text"> Education</h1>
          </div>
        </section>
        <section id="Skills">
          <div class="section-heading">
            <h1 class="section-heading-text"> Skills</h1>
          </div>
          <div class="section-container" id="Skills-container">

          </div>
        </section>
        <section id="Experience">
          <div class="section-container" id="Experience-container">

          </div>
          <div class="section-heading">
            <h1 class="section-heading-text"> Experience</h1>
          </div>
        </section>
        <section id="Projects">
          <div class="section-heading">
            <h1 class="section-heading-text"> Projects</h1>
          </div>
          <div class="section-container" id="Projects-container">

          </div>
        </section>
        <section id="Contact">
          <div class="section-container" id="Contact-container">

          </div>
          <div class="section-heading">
            <h1 class="section-heading-text"> Contact</h1>
          </div>
        </section>

      </main>
    </div>
    <!--*******************************************CONTENT************************************************-->
  </div>
  <div id="mobile-body">
    <div id="mobile-container">
      <img src="images/CH_white.png" style="width: 100px; height: 100px;margin-right: 10px">
      <h1 style="font-weight: bold">CollegeHub</h1>
      <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
      <h2 style="font-weight: lighter">COMING SOON</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
      <br>
      <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
  </div>
  <!-- JavaScript -->
  <!--<script src="script.js"></script>-->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="script.js"></script>
</body>

</html>
