{%  load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style_tp2.css'%}">
    <!--    fontawesome-->
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
    <!--    Animate on scroll (AOS)-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!--logo icon / favicon-->
    <!--    <link rel="icon" href="images/logo.png">-->
    <title> Template-2 | CollegeHub</title>
</head>

<body>
<div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    <div id="Outer_timeline_template3">
        <nav>
            <nav class="navigation">
                <ul class="nav-list text-center ">
                    <li style="text-align: left;font-size: 20px; color: #FFD700">
                        Allison<br>Fragner
                    </li>
                    <div>
                        <li>
                            <a href="#"> Home </a>
                        </li>
                        <li>
                            <a href="#about"> About </a>
                        </li>
                        <li>
                            <a href="#education">Education</a>
                        </li>
                        <li>
                            <a href="#skills"> Skills </a>
                        </li>
                        <li>
                            <a href="#experience">Experience</a>
                        </li>
                        <li>
                            <a href="#projects">Projects</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-offset="-235,40" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fas fa-cog"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                 style="background-color: #585e64; border-radius: 7px;">
                                <h4 class="dropdown-header" style="font-size: large; color: #68d3c5">
                                    Allison Fragner
                                </h4>
                                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#add"><span> <i
                                        class="fas fa-plus-square"></i> </span>Add</a>
                                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#remove"><span> <i
                                        class="fas fa-minus-square"></i> </span>Remove</a>
                                <a class="dropdown-item" href=""><span> <i class="fas fa-cog"></i> </span>Settings</a>
                                <a class="dropdown-item" href="{% url 'home' %}"><span> <i
                                        class="fas fa-sign-out-alt"></i> </span>Logout</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color: #68d3c5" href="#">Copyright CollegHub @ 2020</a>
                            </div>
                        </li>
                    </div>

                </ul>
            </nav>
        </nav>
        <div id="sections">
            <div id="profile_pic_left">
                <img src="{% static 'collegehub/images/blue_marble.jpg' %}">
            </div>
            <div id="header">
                <div id="circle">
                    <h1><span>Allison<br>Fragner </span></h1>
                </div>
                <div id="header_container">
                    <div style="color: #68d3c5; font-weight: bold; margin-bottom: 10px">
                        Computer Science
                    </div>
                    <div class="about-me">
                        Hello! I am Web Developer from United States, New York. I have rich experience in web site
                        design and building, also I am good at wordpress. I love to talk with you about our unique.
                    </div>
                    <div>
                        <a id="contact_me_b" href="contact">
                            Contact me
                        </a>
                    </div>
                </div>
            </div>
            <div id="about" class="section">
                <div class="section_heading">
                    About Me
                </div>
                <div id="about_container">
                    <div class="about-me" style="margin-bottom: 35px; padding: 0">
                          Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit
                    nunc, eu sollicitudin urna dolor sagittis lacus. Pellentesque posuere. Praesent turpis. Aenean
                    posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis
                    lacus.
                    </div>
                    <div>
                        <ul id="aboutme_list">
                            <li> <strong> <span style="color: #68d3c5;font-weight: bold"> Age: </span> </strong> <span> 22 </span></li>
                            <li> <strong> <span style="color: #68d3c5;font-weight: bold"> phone number: </span> </strong> <span> (716)-999-9999 </span></li>
                            <li> <strong> <span style="color: #68d3c5;font-weight: bold"> email: </span> </strong> <span> college@university.com </span></li>
                            <li> <strong> <span style="color: #68d3c5;font-weight: bold"> address: </span> </strong> <span> 7878 heaven st </span></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id="education" class="section">
                <div class="section_heading">
                    Education
                </div>
                <div id="education_container">

                </div>

            </div>
            <div id="skills" class="section">
                <div class="section_heading">
                    Skills
                </div>
                <div id="skills_container">

                </div>

            </div>
            <div id="projects" class="section">
                <div class="section_heading">
                    Projects
                </div>
                <div id="projects_container">

                </div>

            </div>

        </div>
        <div id="social_links">
            <a class="social_links_circle">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="social_links_circle">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="social_links_circle">
                <i class="fa fa-linkedin FA_Header"></i>
            </a>
            <a class="social_links_circle">
                <i class="far fa-envelope FA_Header"></i>
            </a>
        </div>
    </div>
    <!--*******************************************CONTENT************************************************-->
</div>
<div id="mobile-body">
    <div id="mobile-container">
        <img src="images/CH_white.png" style="width: 100px; height: 100px;margin-right: 10px">
        <h1 style="font-weight: bold">CollegeHub</h1>
        <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
        <h2 style="font-weight: lighter">COMING SOON</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
        <br>
        <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="script.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="script.js"></script>
</body>

</html>
