{%  load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!--    Style CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'collegehub/style_tp1.css'%}">
  <!--    fontawesome-->
  <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
  <!--    Animate on scroll (AOS)-->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!--logo icon / favicon-->
  <link rel="icon" href="{% static 'collegehub/images/CH.png' %}">
  <title> Template-1 | CollegeHub</title>
</head>

<body>
  <div id="desktop">
    <!--*************************************************CONTENT************************************************-->
    <div id="Outer-timeline-tp1">
      <div id="left-timeline">
        <div>
          <img id="user-image-tp1" src="{% static 'collegehub/images/logo.png' %}" alt="User profile picture">
          <h3> John Doe</h3>
          <hr>
          <div class="list-group" id="myList" role="tablist">
            <a class="header-item active" data-toggle="list" href="#About" role="tab">About</a>
            <a class="header-item" data-toggle="list" href="#Education" role="tab">Education</a>
            <a class="header-item" data-toggle="list" href="#Skills" role="tab">Skills</a>
            <a class="header-item" data-toggle="list" href="#Experience" role="tab">Experience</a>
            <a class="header-item" data-toggle="list" href="#Projects" role="tab">Projects</a>
            <a class="header-item" data-toggle="list" href="#Contact" role="tab">Contact</a>
          </div>
        </div>
        {#            if not logged in then below footer#}
        {#            <div id="footer">#}
        {#                @ 2020 CollegeHub#}
        {#            </div>#}
        {#            else#}
        <div id="footer">
          <div>
            @ 2020 CollegeHub
          </div>
          <div>
            <div class="btn-group dropup">
              <a data-offset="-155,20" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
              <div class="dropdown-menu">
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#add"><span> <i class="fas fa-plus-square"></i> </span>Add</a>
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#remove"><span> <i class="fas fa-minus-square"></i> </span>Remove</a>
                <a class="dropdown-item" href=""><span> <i class="fas fa-cog"></i> </span>Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'home' %}"><span> <i class="fas fa-sign-out-alt"></i> </span>Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-timeline">
        <div class="tab-content">
          <div class="tab-pane active" id="About" role="tabpanel">
            <div id="about-container">
              <div>
                <h1> Who am I ?</h1>
              </div>
              <div>
                <h3> With supporting text below as a natural lead-in to additional content.With supporting
                  text below as a natural lead-in to additional content.</h3>
              </div>
              <div class="social_links">
                <a href="#"><span><i class="fa fa-linkedin-square FA_Header" style="font-size:36px"></i></span> </a>
                <a href="#"><span><i class="fa fa-facebook-square FA_Header" style="font-size:36px"></i></span> </a>
                <a href="#"><span><i class="fa fa-instagram FA_Header" style="font-size:36px"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Education" role="tabpanel">
            <div id="education-container">
              <div>
                <h1> Education</h1>
              </div>
              <div class="ellipse-container temp1-add-button">
                <button type="button" data-toggle="modal" data-target="#edu_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
              </div>
              <hr>


              <div id="education-body">
                <div class="modal fade" id="edu_add_card" tabindex="-1" aria-labelledby="edu_add_cardLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="edu_add_cardLabel">Add Education card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Specific Form</p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <li class="media">
                    <img src="{% static 'collegehub/images/UB.jpg' %}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h4 class="mt-0 mb-1">University Name</h4>
                      <h5 class="mt-0 mb-1"> Major</h5>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla
                        vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis.
                        Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Skills" role="tabpanel">
            <div id="skills-container-tp1">
              <div>
                <h1> Skills </h1>
              </div>
              <div class="ellipse-container temp1-add-button">
                <button type="button" data-toggle="modal" data-target="#skills_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
              </div>
              <hr>
              <div class="skills-body">
                <div class="modal fade" id="skills_add_card" tabindex="-1" aria-labelledby="skills_add_cardLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="skills_add_cardLabel">Add Skills card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h1> special form</h1>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">Skill name</div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">Skill name</div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">Skill name</div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="Experience" role="tabpanel">

            <div id="experience-container">
              <br>
              <h1> Experience </h1>


              <div class="ellipse-container temp1-add-button">
                <button type="button" data-toggle="modal" data-target="#experience_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
              </div>

              <hr>
              <div class="experience-body">

                {# ********** ADD SECTION POP UP **********#}
                <div class="modal fade" id="experience_add_card" tabindex="-1" aria-labelledby="experience_add_cardLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="experience_add_cardLabel">Add an Experience</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Specific Form</p>
                      </div>

                    </div>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <li class="media">
                    <img src="{% static 'collegehub/images/work.png' %}" class="mr-3 work" alt="...">
                    <div class="media-body">
                      <h4 class="mt-0 mb-1">Position</h4>
                      <h5 class="mt-0 mb-1"> Company</h5>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla
                        vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis.
                        Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.
                      </p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="{% static 'collegehub/images/work.png' %}" class="mr-3 work" alt="...">
                    <div class="media-body">
                      <h4 class="mt-0 mb-1">Position</h4>
                      <h5 class="mt-0 mb-1"> Company</h5>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla
                        vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis.
                        Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.
                      </p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="{% static 'collegehub/images/work.png' %}" class="mr-3 work" alt="...">
                    <div class="media-body">
                      <h4 class="mt-0 mb-1">Position</h4>
                      <h5 class="mt-0 mb-1"> Company</h5>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla
                        vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis.
                        Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.
                      </p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="{% static 'collegehub/images/work.png' %}" class="mr-3 work" alt="...">
                    <div class="media-body">
                      <h4 class="mt-0 mb-1">Position</h4>
                      <h5 class="mt-0 mb-1"> Company</h5>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla
                        vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis.
                        Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="Projects" role="tabpanel">
            <div id="project-container">

                      <h1> Projects </h1>
              <div class="ellipse-container temp1-add-button">
                <button type="button" data-toggle="modal" data-target="#projects_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
              </div>
              <hr>
                  <div class="project-body">
                <div class="modal fade" id="projects_add_card" tabindex="-1" aria-labelledby="projects_add_cardLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="projects_add_cardLabel">Add Projects card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h1> special form</h1>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">


                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'collegehub/images/giphy1.gif' %}" class="card-img-top" alt="Company logo.">
                    <div class="card-body">
                      <h5 class="card-title">Name of Project</h5>
                      <p class="card-text">Year</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Date</li>
                      <li class="list-group-item">City</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link">Job Responsibilities</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="{% static 'collegehub/images/giphy1.gif' %}" class="card-img-top" alt="Company logo.">
                    <div class="card-body">
                      <h5 class="card-title">Name of Project</h5>
                      <p class="card-text">Year</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Date</li>
                      <li class="list-group-item">City</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link">Job Responsibilities</a>
                    </div>
                  </div>
                </div>
                    
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Contact" role="tabpanel">
            <div id="contact-container">
                   <div>
                        <h1> Contact </h1>
                    </div>
              <div class="ellipse-container temp1-add-button">
                <button type="button" data-toggle="modal" data-target="#contact_add_card" class="option-button"> <i class="fas fa-plus"></i></button>
              </div>
              <hr>
                  <div class="experience-body">
                <div class="modal fade" id="contact_add_card" tabindex="-1" aria-labelledby="projects_add_cardLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="projects_add_cardLabel">Add a conatct information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h1> special form</h1>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">


                  <div id="column" class="section-container">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="{% static 'collegehub/images/mail.png' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Emails</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="column" class="section-container">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="/Users/sauptik07/Downloads/442/collegehub/images/12-512.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Phone Numbers</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--*******************************************CONTENT************************************************-->
  </div>
  <div id="mobile-body">
    <div id="mobile-container">
      <img src="images/CH_white.png" style="width: 100px; height: 100px;margin-right: 10px">
      <h1 style="font-weight: bold">CollegeHub</h1>
      <hr style="height:1px;color:gray;background-color:gray; width: 80%;">
      <h2 style="font-weight: lighter">COMING SOON</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h6 style="padding: 0 30px 0 30px"> Mobile support for college hub will be in construction soon</h6>
      <br>
      <h6 style="padding: 0 30px 0 30px"> Sorry for inconvenience, please visit on desktop</h6>
    </div>
  </div>
  <!-- JavaScript -->
  <!--<script src="script.js"></script>-->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="script.js"></script>
</body>

</html>
