/*DESKTOP*/
body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Helvetica";
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

@media screen and (min-width: 601px) {
    #desktop {
        height: 100%;
        width: 100%;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #mobile-body {
        display: none;
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& SETTINGS PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    /*.card-img {*/
    /*    object-fit: cover;*/
    /*    height: 100%;*/
    /*}*/
    .tp-card {
        width: 40rem;
        display: flex;
        background-color: #2bc4ad;
    }

    .tp-info {
        padding: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tp-img-container {
        text-align: center;
        width: 80%;
    }

    #template-heading {
        text-align: center;
        font-weight: lighter;
        background-size: 100%;
        background: linear-gradient(50deg, #fc1111 0%, #ff862a 74%) repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }

    .zoomAccount {
        transition: transform 0.5s;
    }

    .zoomAccount:hover {
        transform: scale(2);
        z-index: 3;
        position: absolute;
    }

    #website-preview {
        width: 100%;
        height: 100%;
        flex: 1 1 50%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 0.3rem;
    }

    #nav-logo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 7px solid #FCA311;
    }


    #nav-name {
        color: white;
        position: absolute;
        left: 50%;
        margin-top: -5px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #settings-logo {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #FCA311;
    }

    #Outer-timeline {
        /*background: linear-gradient(to right, #f95959, rgba(0, 184, 186, 0.04), #f95959) repeat;*/
        background-color: white;
        height: 90%;
    }

    #inner-timeline-left {
        background-color: #ffffff;
        float: left;
        width: 60%;
        height: 100%;
        overflow: auto;
        padding: 30px 4rem 60px 11rem;
    }

    #inner-timeline-right {
        background-image: linear-gradient(50deg, #FCA311 0%, #ffc22a 74%);
        float: right;
        height: 100%;
        width: 40%;
        overflow: auto;
        padding: 30px 8rem 50px 2rem;
    }

    #inner-timeline-left::-webkit-scrollbar {
        display: none;
    }

    #inner-timeline-right::-webkit-scrollbar {
        display: none;
    }

    .card-profile {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid #000000;
    }

    #blog-write {
        background-color: #dedede;
        padding: 5px 5px 5px 25px;
        width: 100%;
        border-radius: 40px;
        min-width: 80%;
    }

    .blog-ask {
        display: inline-flex;
        justify-content: left;
    }

    #template-container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .template {
        background-color: #E5E5E5;
        border: none;
        margin-top: 20px;
    }

    .template:nth-child(2n) {
        box-shadow: -30px 0 30px 0 lightgrey;
    }

    .template:nth-child(2n + 1) {
        box-shadow: 30px 0 30px 0 lightgrey;
    }

    .mg-0 {
        margin: 0;
    }

    .shades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .account-header {
        display: flex;
        justify-content: space-between;
    }

    .account-card {
        box-shadow: 30px 0 30px 0 #b1730c;
        /*background-color: rgb(206, 212, 218);*/
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Account PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    #account {
        width: 100%;
        height: 90%;
        padding: 50px;
    }

    #account-container {
        /*background-color: #626262;*/
        height: 100%;
        padding: 30px;
    }

    #account-container-left {
        float: left;
        width: 20%;
        height: 100%;
    }

    #account-container-right {
        float: right;
        width: 70%;
        background-color: #eaeaea;
        padding: 30px;
        height: 100%;
        border-radius: 1rem;
        box-shadow: -30px 0 30px 0 lightgrey;
    }

    .sub-headers {
        width: 20%;
    }

    .account-forms {
        padding: 15px;
    }

    .account-forms > div {
        margin-bottom: 10px;
    }

    .header-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        background-color: #fff;
        color: black;
        text-decoration: none;
        border-radius: 0.5rem;
    }

    .header-item.active {
        z-index: 2;
        color: #fff;
        background-color: #FCA311;
    }

    .header-item:hover {
        background-color: rgba(252, 163, 17, 0.85);
        color: white;
        text-decoration: none;
    }

    #template-setting-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .template-setting-container-box {
        width: 15rem;
        text-align: center;
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Home PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    .signup {
        background-color: #FCA311;
        border-radius: 2.5rem;
    }

    #home-about {
        padding: 150px 100px 150px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: linear-gradient(50deg, #FCA311 0%, #ffc22a 74%);
    }

    #about-para {
        width: 40%;
        padding-top: 3vw;
    }

    #about-logo {
        width: 40vw;
    }

    #intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px 110px 80px 110px;
        background-image: linear-gradient(50deg, #14213D 0%, #265883 74%);
        color: white;
    }


    #intro-para {
        width: 50%;
        padding-top: 4vw;
    }

    #intro-image {
        width: 24vw;
        height: 24vw;
    }

    #features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px 150px 80px 150px;
        background-color: #E5E5E5;
        color: black;
    }

    #features-image {
        width: 25vw;
        height: 25vw;
    }

    #features-para {
        width: 50%;
        padding-top: 4vw;
    }

    .feature-extension {
        /*display: flex;*/
        padding: 0 150px 80px 150px;
        background-color: #E5E5E5;
    }

    .feature-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 150px 20px 150px;
    }

    .feature-logo {
        width: 10vw;
        height: 10vw;
    }

    .feature-name {
        width: 70%;
    }

    #utilized {
        display: flex;
        justify-content: space-between;
        padding: 80px 170px 80px 170px;
        background-image: linear-gradient(50deg, #14213D 0%, #265883 74%);
        color: white;
    }

    #utilized-logo {
        width: 30%;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .thin {
        font-weight: lighter;
        padding: 5px;
    }

    #home-contact {
        background-image: linear-gradient(50deg, #fc9e11 0%, #ffbd18 74%);
    }

    #home-contact-container {
        text-align: center;
        padding: 0 170px 80px 170px;
    }

    #home-contact-heading {
        font-size: 4vw;
        margin-bottom: 10px;
        color: #14213D;
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& LOGIN PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    .messages {
        list-style: none;
        padding: 0;
        color: red;
    }

    #login-container {
        display: flex;
        height: 100%;
        justify-content: space-around;
    }

    #login-image {
        width: 40%;
    }

    #login-form {
        padding: 150px;
        width: 60%;
    }

    #login-image img {
        flex: 1 1 50%;
        object-fit: cover;
        overflow: hidden;
    }

    #Outer-timeline-signup {
        background-color: #ffffff;
        height: 100%;
    }

    #signup-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    #signup-form {
        padding: 50px 150px 0 150px;
        width: 60%;
    }

    .grey_field {
        border: none;
        background-color: #f0f0f0;
    }

    #signup-feature {
        width: 40%;
        text-align: center;
    }

    .form-sub-box {
        margin-bottom: 1rem;
    }

    #back {
        background-image: url("images/gabriel-izgi-cfQEO_1S0Rs.jpg");
        filter: blur(8px);
        height: 100%;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #up {
        position: absolute;
        top: 40%;
        left: 80%;
        width: 40%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .form-control:focus {
        border-color: #FCA311;
        box-shadow: 0 2px rgba(252, 163, 17, 0.075), 0 0 4px rgba(252, 163, 17, 0.9);
    }

    .social_links {
        color: white;
        display: flex;
        justify-content: space-evenly;
    }

    .white {
        color: white;
    }


    .marg-20 {
        margin: 20px;
    }

    #id_username {
        border: none;
        background-color: #f0f0f0;
    }

    #id_username:focus {
        border-color: #FCA311;
        box-shadow: 0 2px rgba(252, 163, 17, 0.075), 0 0 4px rgba(252, 163, 17, 0.9);
    }

    #id_password {
        border: none;
        background-color: #f0f0f0;
    }

    #id_password:focus {
        border-color: #FCA311;
        box-shadow: 0 2px rgba(252, 163, 17, 0.075), 0 0 4px rgba(252, 163, 17, 0.9);
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& FAQ PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    #faq-container {
        padding: 120px;
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& INDEX PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    #header {
        height: 100vh;
        opacity: 0.95;
        background-image: url("images/red_marble.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .FA_Header {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3%;
    }

    .section-heading {
        text-align: center;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

    .ellipse-container {
        width: 80%;
        position: absolute;
    }

    button:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .option-button {
        float: right;
        display: inline-block;
        font-weight: 200;
        color: #b0be27;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        background-color: transparent;
        border: none;
        padding: .375rem .75rem;
        font-size: 1.5rem;
        line-height: 1.5;
        border-radius: .25rem;
        margin-top: 15px;
    }

    #education {
        padding: 10px 120px 20px 120px;
    }

    #education-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #skills {
        padding: 10px 200px 20px 200px;
    }

    .skill-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
    }

    #skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #experience {
        padding: 10px 170px 20px 170px;
    }

    #experience-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #experience-card-container > div {
        margin: 15px;
    }

    #projects {
        padding: 10px 130px 10px 130px;
    }

    #projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    #projects-container > div {
        margin: 15px;
    }

    #skills-container > div {
        margin: 5px;
    }

    .edu-icon {
        border-radius: 50%;
        width: 30px;
    }

    #FA_Footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    #column {
        padding: 20px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    section:nth-child(2n) {
        background-color: white;
    }

    .uniname {
        font-weight: bold;
    }

    .major {
        color: #a20a0a;
    }

    section:nth-child(2n + 1) {
        background-color: #9e9b9b29;
    }

    .edu-card {
        box-shadow: -30px 0 30px 0 lightgrey;
    }

    #social_links_tp0 {
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .social_links_circle {
        color: white;
        font-size: 2rem;
        transition: color 0.2s ease;
    }

    .social_links_circle:hover {
        color: #d0de2f;
    }

    #name-container {
        display: flex;
        justify-content: center;
        padding: 4rem 9rem 0 9rem;
    }

    #info_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        width: 45%;
        color: white;
    }

    #aboutme {
        font-family: "Poppins", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.75em;
    }

    #name {
        color: white;
        font-size: 4vw;
        font-weight: bold;
    }

    .navigation {
        border: #d0de2f 2px solid;
        background-color: rgba(208, 222, 47, 0.51);
        backdrop-filter: blur(10px);
        position: fixed;
        border-radius: 3rem;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        height: 3rem;
        padding: 0 30px 0 0;
        margin: 20px;
    }

    .nav-list {
        list-style-type: none;
        font-size: 18px;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list li {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        margin: 0;
    }

    .nav-list li a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease, font-size 0.1s;
    }

    .nav-list li > a:hover {
        color: #3d430d;
        font-size: 2rem;
    }

    #settings-logo i {
        color: white;
    }

    #contact {
        background-image: url("images/red_marble.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    #contact_section_container {
        width: 100%;
        height: 80%;
        padding: 20px;
        /*background-color: #8a082c;*/
        justify-content: center;
        display: flex;
    }


    #user-image {
        height: 20rem;
        width: 20rem;
        z-index: 2;
        border-radius: 50%;
        border: 1rem solid white;
        box-shadow: 0 0 150px 0 rgba(50, 0, 0, 0.93);
    }

    #contact_heading {
        font-weight: bold;
        font-size: 4rem;
        background-image: linear-gradient(50deg, #c6ad03 0%, #edff00 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }

    .signature {
        font-family: 'Arizonia', Helvetica, sans-serif, cursive;
        font-weight: bold;
        font-size: 6rem;
        color: white;
        transform: rotate(-30deg);
    }

    #aboutme_list {
        list-style: none;
        margin: 0 -20px;
        padding: 0;
        font-size: 0;
    }

    #aboutme_list li {
        margin: 0 0 6px;
        padding: 0 20px;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 19px;
        font-weight: 600;
        color: white;
    }

    #signature_container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40%;
        height: 100%;
        padding: 30px;
    }

    .ln {
        text-decoration: none;
        color: white;
    }

    .ln:hover {
        color: #FCA311;
    }

    #resume {
        border: #edff00 2px solid;
        border-radius: 3rem;
        padding: 20px;
        color: white;
    }

    #contact_info {
        width: 60%;
        height: 100%;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .blur {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
    }

    .sub-section-heading {
        width: 100%;
        display: flex;
        margin-left: 3px;
        align-items: center;
    }

    .section-heading h1 {
        font-weight: bold;
        background-image: linear-gradient(50deg, #8a082c 0%, #ec2760 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        font-size: 4rem;
    }

    .sub-section-heading-text {

        padding: 0;
        margin: 0;
        background-image: linear-gradient(50deg, #6a2c70 0%, #ff5611 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }

    #experience-container {
        width: 100%;
    }

    #experience-container > div {
        margin: 15px;
    }

    .sub-section-header {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .sub-section {
        border: #dedede 1px solid;
        border-radius: 0.5rem;
        padding: 5px;
    }

    .sub-section-button {
        display: inline-block;
        font-weight: 200;
        color: #212529;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        background-color: transparent;
        border: none;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }


    .sub-section-container {
    }

    .specific {
        margin: 5px;
    }

    .form-group input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& REGISTERATION PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    #outer_reg {
        background-color: white;
        height: 90%;
    }

    #inner_reg {
        padding: 100px 100px 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
        justify-content: space-evenly;
    }

    myhr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #e7e7e7;
        height: 1px;
    }

    .edu-card-img {
        border-radius: 1rem;
    }
    .dropdown-item{
        color: white;
    }
    .temp-title{
        text-decoration: none;
        background-size: 100%;
        background: linear-gradient(50deg, #fc1111 0%, #ff862a 74%) repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        margin: 1rem;
        font-weight: bold;
    }
    .temp-title:hover{
        color: #FCA311;
        text-decoration: none;
    }
}


/*MOBILE DEVICES*/
@media screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    #mobile-body {
        background-color: #000000;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #mobile-container {
        position: absolute;
        top: 20%;
        color: white;
        width: 100%;
        text-align: center;
    }
}
