/*DESKTOP*/
body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Helvetica";
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

    @media screen and (min-width: 601px) {
        #desktop {
            height: 100%;
            width: 100%;
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #mobile-body {
            display: none;
        }
        /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& SETTINGS PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        .card-img{
            object-fit: cover;
            height: 100%;
        }
        #website-preview{
            width: 100%;
            height: 100%;
            flex: 1 1 50%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 0.3rem;
        }
        #nav-logo {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 7px solid #FCA311;
        }

        .nav-item a {
            color: white;
            transition: color 0.5s;
        }

        .nav-item a:hover {
            color: #FCA311;
        }

        #nav-name {
            color: white;
            position: absolute;
            left: 50%;
            margin-top: -5px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

        }

        #settings-logo {
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 5px solid #FCA311;
        }

        #Outer-timeline {
            /*background: linear-gradient(to right, #f95959, rgba(0, 184, 186, 0.04), #f95959) repeat;*/
            background-color: white;
            height: 90%;
        }

        #inner-timeline-left {
            background-color: #ffffff;
            float: left;
            width: 60%;
            height: 100%;
            overflow: auto;
            padding: 30px 4rem 60px 11rem;
        }

        #inner-timeline-right {
            background-color: rgb(246, 158, 21);
            float: right;
            height: 100%;
            width: 40%;
            overflow: auto;
            padding: 30px 8rem 50px 2rem;
        }

        #inner-timeline-left::-webkit-scrollbar {
            display: none;
        }

        #inner-timeline-right::-webkit-scrollbar {
            display: none;
        }

        .card-profile {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 5px solid #000000;
        }

        #blog-write {
            background-color: #dedede;
            padding: 5px 5px 5px 25px;
            width: 100%;
            border-radius: 40px;
            min-width: 80%;
        }

        .blog-ask {
            display: inline-flex;
            justify-content: left;
        }

        #template-container {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .template {
           background-color: #E5E5E5;
           border: none;
            margin-top: 10px;
        }

        .template:nth-child(2n) {
            box-shadow: -30px 0 30px 0 lightgrey;
        }

        .template:nth-child(2n + 1) {
            box-shadow: 30px 0 30px 0 lightgrey;
        }

        .mg-0 {
            margin: 0;
        }

        .shades {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /*width: 50px;*/
        }

        .account-header {
            display: flex;
            justify-content: space-between;
        }

        .account-card{
            box-shadow: 30px 0 30px 0 #b1730c;
            /*background-color: rgb(206, 212, 218);*/
        }

        /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Account PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        #account{
            width: 100%;
            height: 90%;
            padding: 50px;
        }
        #account-container{
            /*background-color: #626262;*/
            height: 100%;
            padding: 30px;
        }
        #account-container-left{
            float: left;
            width: 20%;
            height: 100%;
        }
        #account-container-right{
            float: right;
            width: 70%;
            background-color: #eaeaea;
            padding: 30px;
            height: 100%;
            border-radius: 1rem;
            box-shadow: -30px 0 30px 0 lightgrey;
        }
        .sub-headers{
            width: 20%;
        }
        .account-forms{
            padding: 15px;
        }
        .account-forms > div{
            margin-bottom: 10px;
        }
        .header-item{
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            background-color: #fff;
            color: black;
            text-decoration: none;
            border-radius: 0.5rem;
        }
        .header-item.active {
            z-index: 2;
            color: #fff;
            background-color: #FCA311;
        }
        .header-item:hover{
            background-color: rgba(252, 163, 17, 0.85);
            color: white;
            text-decoration: none;
        }
        #template-setting-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

            /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Home PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        .signup {
            background-color: #FCA311;
            border-radius: 2.5rem;
        }

        #home-about {
            padding: 150px 100px 150px 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: #FCA311;
        }

        #about-para {
            width: 40%;
            padding-top: 3vw;
        }

        #about-logo {
            width: 40vw;
        }

        #intro {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 80px 110px 80px 110px;
            background-color: #14213D;
            color: white;
        }

        #intro-para {
            width: 50%;
            padding-top: 4vw;
        }

        #intro-image {
            width: 24vw;
            height: 24vw;
        }

        #features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 80px 150px 80px 150px;
            background-color: #E5E5E5;
            color: black;
        }

        #features-image {
            width: 25vw;
            height: 25vw;
        }

        #features-para {
            width: 50%;
            padding-top: 4vw;
        }

        .feature-extension {
            /*display: flex;*/
            padding: 0 150px 80px 150px;
            background-color: #E5E5E5;
        }

        .feature-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 150px 20px 150px;
        }

        .feature-logo {
            width: 10vw;
            height: 10vw;
        }

        .feature-name {
            width: 70%;
        }

        #utilized {
            display: flex;
            justify-content: space-between;
            padding: 80px 170px 80px 170px;
            background-color: #14213D;
            color: white;
        }

        #utilized-logo {
            width: 30%;
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .thin {
            font-weight: lighter;
            padding: 5px;
        }

        #home-contact {
            background-color: #FCA311
        }

        #home-contact-container {
            text-align: center;
            padding: 0 170px 80px 170px;
        }

        #home-contact-heading {
            font-size: 4vw;
            margin-bottom: 10px;
            color: #14213D;
        }
        /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& LOGIN PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        #login-container{
            display: flex;
            height: 100%;
            justify-content: space-around;
        }
        #login-image{
            width: 40%;
        }
        #login-form{
            padding: 150px;
            width: 60%;
        }
        #login-image img{
            flex: 1 1 50%;
            object-fit: cover;
            overflow: hidden;
        }
        #signup-container{
            display: flex;
            justify-content: space-around;
        }
        #signup-form{
            padding: 100px 150px 150px 150px;
            width: 60%;
        }
        #signup-feature{
            width: 40%;
            text-align: center;

        }
        #back{
            background-image: url("images/denys-nevozhai-JsdvKIcvAGo.jpg");
            filter: blur(8px);
            height: 100%;
            z-index: -1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #up{
            position: absolute;
            top: 50%;
            left: 80%;
            width: 40%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        .form-control:focus {
            border-color: #FCA311;
            box-shadow: 0 2px rgba(252, 163, 17, 0.075), 0 0 4px rgba(252, 163, 17, 0.9);
        }
        .marg-20{
            margin: 20px;
        }
        /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& FAQ PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        #faq-container{
            padding: 120px;
        }
        /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& INDEX PAGE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
        #header {
            height: 60vh;
            opacity: 0.8;
            background-image: url("images/wall_l1.jpg");
            background-size: cover;
            background-attachment: fixed;
            padding-top: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .FA_Header{
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 3%;

        }
        .section-heading{
            text-align: center;
            display: flex;
            justify-content: space-between;
            z-index: 2;
        }
        .ellipse-container{
            width: 80%;
            position: absolute;
        }

        button:focus{
            border: none;
            box-shadow: none;
            outline: none;
        }

        .option-button{
            float: right;
            display: inline-block;
            font-weight: 200;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            user-select: none;
            background-color: transparent;
            border: none;
            padding: .375rem .75rem;
            font-size: 1.5rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
        #education{
            padding: 10px 50px 10px 50px;
        }
        #education-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
        #skills{
            padding: 10px 200px 10px 200px;
        }
        #skills-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
        #experience{
            padding: 10px 100px 10px 100px;
        }
        #experience-card-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
        #experience-card-container > div{
            margin: 15px;
        }

        #projects{
            padding: 10px 50px 10px 50px;
        }
        #projects-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
        #projects-container > div{
            margin: 15px;
        }
        #skills-container > div{
            margin: 5px;
        }
        .edu-icon{
            border-radius: 50%;
            width: 30px;
        }
        #FA_Footer{
            padding-left: 50px;
            padding-right: 50px;
        }

        #column{
            padding: 20px;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
        }

        section:nth-child(2n) {
            background-color: #9e9b9b29;
        }

        section:nth-child(2n + 1) {
            background-color: white;
        }

        #name-container {
            text-align: center;
        }

        #name {
            color: white;
            font-size: 8vw;
        }

        .navigation {
            background: #d64753;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            padding: 0 30px 0 30px;
        }

        .nav-list {
            list-style-type: none;
            font-size: 18px;
            margin: 0;
        }

        .nav-list li {
            display: inline-block;
            padding: 5px 10px 5px 10px;
            margin: 0;
        }

        .nav-list li a {
            color: #ffffff;
            text-decoration: none;
            font-weight: lighter;
        }

        #settings-logo i {
            color: white;
        }

        #contact {
            background-color: #972d3e;
        }
        #contact-container > div{
            margin: 40px;
        }

        #user-image {
            height: 12rem;
            width: 12rem;
            z-index: 2;
            margin: -14vh auto 3vh;
            border-radius: 50%;
            border: 3px solid white;
        }
        .sub-section-heading{
            width:100%;
            display: flex;
            margin-left: 3px;
            align-items: center;
        }
        .sub-section-heading-text{
            padding: 0;
            margin: 0;
        }
        #experience-container{
            width: 100%;
        }
        #experience-container > div{
            margin: 15px;
        }
        .sub-section-header{
            display: flex;
            justify-content: space-between;

            padding: 5px;
        }
        .sub-section{
            border: #dedede 1px solid;
            border-radius: 0.5rem;
            padding: 5px;
        }
        .sub-section-button{
            display: inline-block;
            font-weight: 200;
            color: #212529;
            text-align: center;
            -webkit-user-select: none;
            user-select: none;
            background-color: transparent;
            border: none;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
        .sub-section-container{

        }
        .specific{
            margin: 5px;
        }
    }

/*MOBILE DEVICES*/
@media screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    #mobile-body {
        background-color: #000000;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #mobile-container {
        position: absolute;
        top: 20%;
        color: white;
        width: 100%;
        text-align: center;
    }
}
