/*DESKTOP*/
body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Helvetica";
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

    @media screen and (min-width: 601px) {
        #desktop {
            height: 100%;
            width: 100%;
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #mobile-body {
            display: none;
        }
        #Outer-timeline {
            background-color: white;
            height: 100%;
        }
         section {
            display: flex;
             justify-content: space-between;
        }

        section:nth-child(2n) {
            background-color: #9e9b9b29;
        }

        section:nth-child(2n + 1) {
            background-color: white;
        }
        .section-heading{
            text-align: center;
            width: 30%;
            background-color: #c1c1c1;
            /*height: 100%;*/

        }
        .section-container{
            width: 70%;
            padding: 30px;
        }
    }
/*MOBILE DEVICES*/
@media screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    #mobile-body {
        background-color: #000000;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #mobile-container {
        position: absolute;
        top: 20%;
        color: white;
        width: 100%;
        text-align: center;
    }
}
